/*-
 * Copyright (c) 2016 Jared McNeill <jmcneill@invisible.ca>
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 *
 * $FreeBSD$
 */

#include "sun8i-a83t-sinovoip-bpi-m3.dts"
#include "a83t.dtsi"

/ {
	cpus {
		cpu@0 {
			cpu-supply = <&reg_dcdc2>;
			operating-points = <
				/* kHz    uV */
				1200000	840000
				1008000	840000
				648000	840000
				408000	840000
				>;
		};

		cpu@100 {
			cpu-supply = <&reg_dcdc3>;
			operating-points = <
				/* kHz    uV */
				1200000	840000
				1008000	840000
				648000	840000
				408000	840000
				>;
		};
	};
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&reg_ahci_5v {
	gpio = <&pio 3 25 GPIO_ACTIVE_HIGH>;	/* PD25 */
	status = "okay";
};

&ahci_pwr_pin_a {
	allwinner,pins = "PD25";
};

&reg_usb1_vbus {
	gpio = <&pio 3 24 GPIO_ACTIVE_HIGH>;	/* PD24 */
	status = "okay";
};

&usb1_vbus_pin_a {
	allwinner,pins = "PD24";
};

&usbphy {
	usb1_vbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_8bit_pins>;
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&emac_pins_rgmii_a>;
	phy = <&phy1>;
	phy-mode = "rgmii";
	status = "okay";

	phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&emac_tx_clk {
	/* EMAC transmit/receive clock delay chain values for BPI-M3 */
	tx-delay = <0x7>;
	rx-delay = <0x7>;
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins_a>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_a>;
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins_a>;
	status = "okay";
};

&r_rsb {
	status = "okay";

	axp81x: pmic@3a3 {
		compatible = "x-powers,axp813";
		reg = <0x3a3>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		gpio-controller;
		#gpio-cells = <1>;

		regulators {
			reg_dcdc2: dcdc2 {
				regulator-name = "dcdc2";
			};

			reg_dcdc3: dcdc3 {
				regulator-name = "dcdc3";
			};
		};
	};
};

/ {
	leds {
		compatible = "gpio-leds";

		green_led {
			gpios = <&axp81x 0>;	/* AXP PMIC GPIO0 */
			label = "green_led";
		};

		blue_led {
			gpios = <&axp81x 1>;	/* AXP PMIC GPIO1 */
			label = "blue_led";
		};
	};
};
