#!/bin/sh
# $FreeBSD: src/release/picobsd/net/floppy.tree/etc/mfs.rc,v 1.3 1999/08/28 01:33:40 peter Exp $
### WARNING !!!!!! #####
# We remove this file during execution (see EOF).
# Awful things happen if its size is > 1024B

stty status '^T'

trap : 2
trap : 3

HOME=/; export HOME
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin
export PATH

trap "echo 'Reboot interrupted'; exit 1" 3

### Special setup for one floppy PICOBSD ###
echo ""
echo "-------------------------------------------"
echo "  Please wait. The system is coming up..."
echo "-------------------------------------------"
echo ""
echo "Reading /etc from startup floppy..."
mount -o rdonly /dev/fd0a /start_floppy
cd /start_floppy/etc
cp -Rp . /etc/
cd /etc
pwd_mkdb -p ./master.passwd
umount /start_floppy
echo "Ok. (Now you can remove floppy if you like)"
echo ""
. rc
exit 0
