#!/bin/sh
#
# $FreeBSD: src/share/examples/pppd/auth-down.sample,v 1.1 2002/01/29 00:23:33 cjc Exp $
#
# Example for /etc/ppp/auth-down file.

/usr/bin/logger -p daemon.notice -t pppd "User $2 is logged off"
