#!/bin/sh
#
# $FreeBSD: src/share/examples/pppd/auth-down.sample,v 1.1.40.1 2010/02/10 00:26:20 kensmith Exp $
#
# Example for /etc/ppp/auth-down file.

/usr/bin/logger -p daemon.notice -t pppd "User $2 is logged off"
