#!/bin/sh
#
# $FreeBSD: src/share/examples/pppd/ip-up.sample,v 1.1 2002/01/29 00:23:33 cjc Exp $
#
# Example for /etc/ppp/ip-up file.

/usr/bin/logger -p daemon.notice -t pppd "$1 is up"
/usr/sbin/ntpdate ntpserver
