# $FreeBSD: src/share/examples/pppd/options.sample,v 1.2.16.1 2008/10/02 02:57:24 kensmith Exp $
#
# Example for /etc/ppp/options file.
#
/dev/cuad4
115200
modem
crtscts
asyncmap 0
connect '/etc/ppp/chat.sh'
defaultroute
noipdefault
persist
holdoff 5
mtu 250
mru 250
