# $FreeBSD: src/share/examples/pppd/options.sample,v 1.1 2002/01/29 00:23:33 cjc Exp $
#
# Example for /etc/ppp/options file.
#
/dev/cuaa4
115200
modem
crtscts
asyncmap 0
connect '/etc/ppp/chat.sh'
defaultroute
noipdefault
persist
holdoff 5
mtu 250
mru 250
