# $FreeBSD$
#
# Example for /etc/ppp/pap-secrets file.
#
# This file should be owned by root and not readable or
# writable by any other user.
#
# Dialin format: <remote name> <our name> <password> <allowed IP addresses>
#
joe	server	password	192.168.0.1/24 192.168.2.2
lisa	server	l1z4		* !192.168.0.1
mike	server	secret		*
luser	server	nopass		-
#
# Dialout format:  <our name> <server name> <password>
#
jane	isp	password
