# $FreeBSD: src/share/examples/pppd/ppp.deny.sample,v 1.12 2004/06/30 16:47:08 maxim Exp $
#
# list of users disallowed any pppd access via 'system
# password login'.
# read by pppd(8).
root
toor
daemon
operator
bin
tty
kmem
games
news
man
sshd
smmsp
mailnull
bind
proxy
_pflogd
ftp
uucp
pop
www
nobody
