# $FreeBSD: src/share/examples/pppd/ppp.deny.sample,v 1.5.2.3 2002/06/30 18:23:00 maxim Exp $
#
# list of users disallowed any pppd access via 'system
# password login'.
# read by pppd(8).
root
toor
daemon
operator
bin
tty
kmem
games
news
man
sshd
smmsp
mailnull
bind
ftp
uucp
xten
pop
www
nobody
