# $FreeBSD$
#
# List of acceptable shells for pppd(8).
# Pppd will not accept a system password login
# by a user whose shell is not listed below.

/bin/sh
/bin/csh
/bin/tcsh
/usr/local/bin/ksh
/usr/local/bin/zsh
/usr/local/bin/bash
/usr/local/bin/tcsh
/usr/local/bin/ppplogin.sh
