# Version strings

VER_PACKAGE=heimdal
VER_PACKAGE_NAME=Heimdal
VER_PACKAGE_BUGREPORT=heimdal-bugs@h5l.org
VER_PACKAGE_COPYRIGHT=Copyright (C) 1995-2011 Royal Institute of Technology, Stockholm, Sweden
VER_PACKAGE_COMPANY=www.h5l.org

VER_PRODUCT_MAJOR=1
VER_PRODUCT_MINOR=5
VER_PRODUCT_AUX=0
VER_PRODUCT_PATCH=0

VER_PACKAGE_VERSION=$(VER_PRODUCT_MAJOR).$(VER_PRODUCT_MINOR).$(VER_PRODUCT_AUX)

# Define to 1 if this is a pre-release build.  Undefine otherwise
#VER_PRERELEASE=1

# Define to a valid string if this build DOES NOT follow normal
# release procedures.  I.e. this is a private build whose version
# numbers are not co-ordinated with mainline development.

#VER_PRIVATE=Private build for MyCompany

# Define to a valid string if this build DOES follow normal release
# procedures, but is a variation of the standard files of the same
# version numbers.

#VER_SPECIAL=Special build for testing ticket 12345


# ------------------------------------------------------------
# Features
#
# For each feature enabled here, a corresponding line must exist in
# the inline Perl script in include\NTMakefile.

# Enable Kerberos v5 support in applications
KRB5=1

# Enable Kerberos v4
# KRB4=1

# Enable PKINIT
PKINIT=1

# Disable AFS support
NO_AFS=1

# OpenLDAP package is available
# OPENLDAP=1

# OpenLDAP include directory
# OPENLDAP_INC=

# OpenLDAP library to link against
# OPENLDAP_LIB=

# Support HDB LDAP module
# OPENLDAP_MODULE=1

# OTP support in applications
OTP=1

# Authentication support in telnet
AUTHENTICATION=1

# Enable diagnostics in telnet
DIAGNOSTICS=1

# Enable encryption support in telnet
ENCRYPTION=1

# Use the weak AFS string to key functions
# ENABLE_AFS_STRING_TO_KEY=1

!ifdef PTHREAD_INC
!ifdef PTHREAD_LIB

# We have <pthread.h>
HAVE_PTHREAD_H=1

# Make thread-safe libraries
ENABLE_PTHREAD_SUPPORT=1

!endif
!endif

# Support for broken ENV_{VAR,VAL} telnets
# ENV_HACK=1

# Use the Kerberos Credentials Manager
# HAVE_KCM=1

# Use the sqlite backend
HAVE_SCC=1

DIR_hdbdir=%{COMMON_APPDATA}/heimdal/hdb

# Enable weak crypto
WEAK_CRYPTO=1

# Disable use of GSS LOCALNAME support
NO_LOCALNAME=1

# Disable build of installers
!ifndef NO_INSTALLERS
BUILD_INSTALLERS=1
!endif
