#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "../resourceid.h"


IDR_NETSURF_ICON ICON DISCARDABLE "NetSurf.ico"
IDR_TOOLBAR_BITMAP BITMAP DISCARDABLE "toolbar.bmp"
IDR_TOOLBAR_BITMAP_GREY BITMAP DISCARDABLE "toolbarg.bmp"
IDR_TOOLBAR_BITMAP_HOT BITMAP DISCARDABLE "toolbarh.bmp"
IDR_NETSURF_BANNER BITMAP DISCARDABLE "banner.bmp"
IDR_HOME_BITMAP BITMAP DISCARDABLE "home.bmp"

IDR_THROBBER_FRAME0_BITMAP BITMAP DISCARDABLE "throbber/throbber0.bmp"
IDR_THROBBER_FRAME1_BITMAP BITMAP DISCARDABLE "throbber/throbber1.bmp"
IDR_THROBBER_FRAME2_BITMAP BITMAP DISCARDABLE "throbber/throbber2.bmp"
IDR_THROBBER_FRAME3_BITMAP BITMAP DISCARDABLE "throbber/throbber3.bmp"
IDR_THROBBER_FRAME4_BITMAP BITMAP DISCARDABLE "throbber/throbber4.bmp"
IDR_THROBBER_FRAME5_BITMAP BITMAP DISCARDABLE "throbber/throbber5.bmp"
IDR_THROBBER_FRAME6_BITMAP BITMAP DISCARDABLE "throbber/throbber6.bmp"
IDR_THROBBER_FRAME7_BITMAP BITMAP DISCARDABLE "throbber/throbber7.bmp"

IDR_MENU_MAIN MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New Window",IDM_FILE_OPEN_WINDOW
    MENUITEM "Open &Location",IDM_FILE_OPEN_LOCATION
    MENUITEM "&Close",IDM_FILE_CLOSE_WINDOW
    MENUITEM SEPARATOR
    MENUITEM "&Save Page",IDM_FILE_SAVE_PAGE,GRAYED,HELP
    POPUP "Save Page &As"
    BEGIN
      MENUITEM "Text",IDM_FILE_SAVEAS_TEXT,GRAYED
      MENUITEM "PDF",IDM_FILE_SAVEAS_PDF,GRAYED
      MENUITEM "Postscript",IDM_FILE_SAVEAS_POSTSCRIPT,GRAYED
    END
    MENUITEM SEPARATOR
    MENUITEM "Print Pre&view",IDM_FILE_PRINT_PREVIEW
    MENUITEM "&Print",IDM_FILE_PRINT
    MENUITEM SEPARATOR
    MENUITEM "E&xit",IDM_FILE_QUIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "Cu&t",IDM_EDIT_CUT
    MENUITEM "&Copy",IDM_EDIT_COPY
    MENUITEM "&Paste",IDM_EDIT_PASTE
    MENUITEM "&Delete",IDM_EDIT_DELETE
    MENUITEM SEPARATOR
    MENUITEM "Select &All",IDM_EDIT_SELECT_ALL
    MENUITEM SEPARATOR
    MENUITEM "&Find",IDM_EDIT_SEARCH
  END
  POPUP "&View"
  BEGIN
    MENUITEM "Stop",IDM_NAV_STOP
    MENUITEM "Reload",IDM_NAV_RELOAD
    MENUITEM SEPARATOR
    POPUP "&Zoom"
    BEGIN
      MENUITEM "Zoom &In",IDM_VIEW_ZOOMPLUS
      MENUITEM "Zoom &Out",IDM_VIEW_ZOOMMINUS
      MENUITEM "&Reset",IDM_VIEW_ZOOMNORMAL
    END
    MENUITEM SEPARATOR
    MENUITEM "Page S&ource",IDM_VIEW_SOURCE
    MENUITEM "&Full Screen",IDM_VIEW_FULLSCREEN
  END
  POPUP "&History"
  BEGIN
    MENUITEM "Back",IDM_NAV_BACK
    MENUITEM "Forward",IDM_NAV_FORWARD
    MENUITEM "Home",IDM_NAV_HOME
    MENUITEM SEPARATOR
    MENUITEM "Local History",IDM_NAV_LOCALHISTORY
    MENUITEM "Global History",IDM_NAV_GLOBALHISTORY,GRAYED
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "&Downloads",IDM_VIEW_DOWNLOADS
    MENUITEM "Save size and location",IDM_VIEW_SAVE_WIN_METRICS
    POPUP "Debugging"
    BEGIN
      MENUITEM "Debug rendering",IDM_VIEW_TOGGLE_DEBUG_RENDERING
      MENUITEM "Save Box Tree",IDM_VIEW_DEBUGGING_SAVE_BOXTREE,GRAYED
      MENUITEM "Save DOM Tree",IDM_VIEW_DEBUGGING_SAVE_DOMTREE,GRAYED
    END
    MENUITEM SEPARATOR
    MENUITEM "Options...",IDM_EDIT_PREFERENCES
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&Contents",IDM_HELP_CONTENTS
    MENUITEM "G&uide",IDM_HELP_GUIDE
    MENUITEM "&Info",IDM_HELP_INFO
    MENUITEM SEPARATOR
    MENUITEM "&About NetSurf",IDM_HELP_ABOUT
  END
END

IDR_MENU_CONTEXT MENU
BEGIN
  POPUP "Context"
  BEGIN
    MENUITEM "&Back",IDM_NAV_BACK
    MENUITEM "F&orward",IDM_NAV_FORWARD
    MENUITEM "&Home",IDM_NAV_HOME
    MENUITEM "&Stop",IDM_NAV_STOP
    MENUITEM "&Reload",IDM_NAV_RELOAD
    MENUITEM SEPARATOR
    MENUITEM "C&ut",IDM_EDIT_CUT,GRAYED
    MENUITEM "&Copy",IDM_EDIT_COPY,GRAYED
    MENUITEM "&Paste",IDM_EDIT_PASTE,GRAYED
    MENUITEM "&Delete",IDM_EDIT_DELETE,GRAYED
  END
END

IDD_DLG_ABOUT DIALOGEX 10,10,206,133
CAPTION "About NetSurf"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
BEGIN
  CONTROL IDR_NETSURF_BANNER,IDC_IMG1,"Static",SS_BITMAP|0x40L /*SS_REALSIZECONTROL*/,0,0,205,53
  CONTROL "NetSurf",IDC_ABOUT_VERSION,"Static",SS_LEFT,10,60,185,16
  CONTROL "NetSurf is a small fast browser",IDC_ABOUT_TEXT,"Static",SS_LEFT,10,83,185,8
  CONTROL "Copyright 2003-2011 The NetSurf Developers",IDC_ABOUT_COPYRIGHT,"Static",SS_LEFT,10,96,185,8
  CONTROL "&OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,143,111,54,15
  CONTROL "&Credits",IDC_BTN_CREDITS,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,10,111,54,15
  CONTROL "&Licence",IDC_BTN_LICENCE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,70,111,54,15
END

IDD_DLG_DOWNLOAD DIALOGEX 0,0,201,84
CAPTION "Download"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT
EXSTYLE WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "downloading [file] [size] from [domain] to [destination]",IDC_DOWNLOAD_LABEL,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTER,6,6,189,35
  CONTROL "progress",IDC_DOWNLOAD_PROGRESS,PROGRESS_CLASS,WS_VISIBLE,6,50,189,10
  CONTROL "&OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,141,66,54,15
  CONTROL "&Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,81,66,54,15
END


IDD_DLG_OPTIONS_GENERAL DIALOGEX 0,0,220,200
CAPTION "General"
FONT 8,"MS Shell Dlg"
STYLE DS_CONTROL|DS_SHELLFONT
BEGIN
  /* home page entry */
  CONTROL "Home Page",IDC_STATIC,"Static",SS_LEFT,7,7,40,8
  CONTROL "",IDC_STATIC,"Static",SS_ETCHEDFRAME,47,11,166,1
  CONTROL IDR_HOME_BITMAP,IDC_STATIC,"Static",SS_BITMAP,15,19,24,24
  CONTROL "",IDC_PREFS_HOMEPAGE,"Edit",WS_TABSTOP|ES_OEMCONVERT|ES_AUTOHSCROLL,43,19,170,14,WS_EX_CLIENTEDGE


  /* Content control */
  CONTROL "Content Control",IDC_STATIC,"Static",SS_LEFT,7,40,60,8
  CONTROL "",IDC_STATIC,"Static",SS_ETCHEDFRAME,67,44,146,1

  CONTROL "Hide Images",IDC_PREFS_IMAGES,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,43,52,67,10
  CONTROL "Hide Advertisements",IDC_PREFS_ADVERTS,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,43,66,81,10
  CONTROL "Send referer",IDC_PREFS_REFERER,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,43,80,55,10

END

IDD_DLG_OPTIONS_CONNECTIONS DIALOGEX 0,0,220,200
CAPTION "Connections"
FONT 8,"MS Shell Dlg"
STYLE DS_CONTROL|DS_SHELLFONT
BEGIN
  /* proxy divider */
  CONTROL "Proxy",IDC_STATIC,"Static",SS_LEFT,7,7,30,8
  CONTROL "",IDC_STATIC,"Static",SS_ETCHEDFRAME,37,11,176,1

  /* proxy controls */
  CONTROL "Type:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,22,40,8
  CONTROL "",IDC_PREFS_PROXYTYPE,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,80,19,60,60

  CONTROL "Server:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,39,28,8
  CONTROL "",IDC_PREFS_PROXYHOST,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_OEMCONVERT|ES_AUTOHSCROLL,80,36,80,14,WS_EX_CLIENTEDGE

  CONTROL "Port:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,164,39,16,8
  CONTROL "",IDC_PREFS_PROXYPORT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_OEMCONVERT|ES_AUTOHSCROLL,182,36,24,14,WS_EX_CLIENTEDGE

  CONTROL "Username:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,60,35,8
  CONTROL "",IDC_PREFS_PROXYNAME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_OEMCONVERT|ES_AUTOHSCROLL,80,57,45,14,WS_EX_CLIENTEDGE

  CONTROL "Password:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,132,60,34,8
  CONTROL "",IDC_PREFS_PROXYPASS,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_OEMCONVERT|ES_AUTOHSCROLL|ES_PASSWORD,168,57,45,14,WS_EX_CLIENTEDGE


  /* fetcher divider */
  CONTROL "Fetchers",IDC_STATIC,"Static",SS_LEFT,7,78,40,8
  CONTROL "",IDC_STATIC,"Static",SS_ETCHEDFRAME,42,82,171,1

  /* max fetchers */
  CONTROL "Max Fetchers:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,43,96,64,8
  CONTROL "",IDC_PREFS_FETCHERS,"Edit",ES_NUMBER|ES_RIGHT|WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|WS_BORDER,111,93,30,14
  CONTROL "Max Fetchers",IDC_PREFS_FETCHERS_SPIN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_ALIGNRIGHT|WS_VISIBLE,341,122,11,15

  /* fetchers per host */
  CONTROL "Fetches per host:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,43,118,64,8
  CONTROL "",IDC_PREFS_FETCH_HOST,"Edit",ES_NUMBER|ES_RIGHT|WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|WS_BORDER,111,114,30,14
  CONTROL "Fetches per host",IDC_PREFS_FETCH_HOST_SPIN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_ALIGNRIGHT|WS_VISIBLE,341,140,11,15

  /* cached fetchers */
  CONTROL "Cached Fetches:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,43,138,64,8
  CONTROL "",IDC_PREFS_FETCH_HANDLES,"Edit",ES_NUMBER|ES_RIGHT|WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|WS_BORDER,111,135,30,14
  CONTROL "Cached Fetches",IDC_PREFS_FETCH_HANDLES_SPIN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_ALIGNRIGHT|WS_VISIBLE,341,158,11,15

END

IDD_DLG_OPTIONS_APPERANCE DIALOGEX 10,10,220,200
CAPTION "Apperance"
FONT 8,"MS Shell Dlg"
STYLE DS_CONTROL|DS_SHELLFONT
BEGIN
  /* proxy separator */
  CONTROL "Fonts",IDC_STATIC,"Static",SS_LEFT,7,7,20,8
  CONTROL "",IDC_STATIC,"Static",SS_ETCHEDFRAME,27,11,186,1

  /* font controls */
  CONTROL "Sans-serif:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,22,44,8
  CONTROL "Sans-serif",IDC_PREFS_SANS,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,89,19,50,14

  CONTROL "Serif:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,40,24,8
  CONTROL "Serif",IDC_PREFS_SERIF,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,89,37,50,14

  CONTROL "Monospace:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,58,40,8
  CONTROL "Monospace",IDC_PREFS_MONO,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,89,55,50,14

  CONTROL "Cursive:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,76,32,8
  CONTROL "Cursive",IDC_PREFS_CURSIVE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,89,73,50,14

  CONTROL "Fantasy:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,94,32,8
  CONTROL "Fantasy",IDC_PREFS_FANTASY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,89,91,50,14


  CONTROL "Default:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,112,38,8
  CONTROL "",IDC_PREFS_FONTDEF,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,89,109,50,60

  CONTROL "Size:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,147,112,16,8
  CONTROL "",IDC_PREFS_FONT_SIZE,"Edit",ES_NUMBER|WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,165,109,35,14,WS_EX_CLIENTEDGE
  CONTROL "Font Size",IDC_PREFS_FONT_SIZE_SPIN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_ALIGNRIGHT|WS_VISIBLE,75,137,11,15

  CONTROL "Minimum Size:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,43,130,52,8
  CONTROL "",IDC_PREFS_FONT_MINSIZE,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,97,127,35,14,WS_EX_CLIENTEDGE
  CONTROL "Minimum Font Size",IDC_PREFS_FONT_MINSIZE_SPIN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_ALIGNRIGHT|WS_VISIBLE,76,159,11,15

  /* animation separator */
  CONTROL "Animation",IDC_STATIC,"Static",SS_LEFT,7,148,36,8
  CONTROL "",IDC_STATIC,"Static",SS_ETCHEDFRAME,43,152,170,1

  CONTROL "Disable",IDC_PREFS_NOANIMATION,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,43,163,39,10
  CONTROL "Minimum delay:",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_LEFT,55,180,56,8
  CONTROL "",IDC_PREFS_ANIMATIONDELAY,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,113,177,35,14,WS_EX_CLIENTEDGE
  CONTROL "Min delay",IDC_PREFS_ANIMATIONDELAY_SPIN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_ALIGNRIGHT|WS_VISIBLE,43,210,11,15



END
