*.c    diff=cpp
*.h    diff=cpp
*.cpp  diff=cpp
*.hpp  diff=cpp
*.py   diff=python
. svn-properties=svn:keywords=tools/build/options/WITHOUT_LOADER_ZFS
.clang-format svn-properties=svn:keywords=FreeBSD=%H
contrib/one-true-awk/bugs-fixed/unicode-null-match.bad binary
