Makefile
Makefile.in
.dirstamp
stamp-h*
*.h.in~
*.o
*.og
*.op
*.lo
*.gcno
*.gcda
*.gcov
core
.gdb_history

.libs
.deps

*.exe
*.dep
*.diff
*.orig
*.patch
*.rej

# autoconf stuff
/aclocal.m4
/autom4te.cache/
/buildsys.mk
/config.h
/config.h.in
/config.log
/config.status
/configure
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing

# programs
/bomtool
/pkgconf
/pkgconf-gcov
/pkgconf-profile

# libtool
/libtool
/ltmain.sh
/libpkgconf.la
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4

# pkgconfig file
/libpkgconf.pc

# autoheader
/libpkgconf/config.h
/libpkgconf/config.h.in

# tests
/Kyuafile
/tests/Kyuafile
/tests/basic
/tests/builtins
/tests/conflicts
/tests/framework
/tests/parser
/tests/provides
/tests/regress
/tests/requires
/tests/symlink
/tests/sysroot
/tests/test_env.sh
/tests/version
