*.a
*.core
*.o
*.orig
*.rej
*.so
*.sw[nop]
*~
.vscode
_.tinderbox.*
_.universe-toolchain
_.amd64.*
_.arm.*
_.arm64.*
_.i386.*
_.powerpc.*
_.riscv.*
GPATH
GRTAGS
GTAGS
ID
cscope.files
cscope.in.out
cscope.out
cscope.po.out
compile_commands.json
compile_commands.events.json
tags
.cache
.clangd
.ccls-cache
sys/*/compile
