*~
*.o
*.exe
*.lo
*.cmake
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bsdcat
bsdcat_test
bsdcpio
bsdcpio_test
bsdtar
bsdtar_test
build/autoconf/compile
build/autoconf/config.guess
build/autoconf/config.sub
build/autoconf/depcomp
build/autoconf/install-sh
build/autoconf/libtool.m4
build/autoconf/ltmain.sh
build/autoconf/ltoptions.m4
build/autoconf/ltsugar.m4
build/autoconf/ltversion.m4
build/autoconf/lt~obsolete.m4
build/autoconf/missing
build/pkgconfig/libarchive.pc
cat/.deps/
cat/.dirstamp
cat/test/.deps/
cat/test/.dirstamp
cat/test/list.h
config.h
config.h.in
config.log
config.status
configure
cpio/.deps/
cpio/.dirstamp
cpio/test/.deps/
cpio/test/.dirstamp
cpio/test/list.h
libarchive.la
libarchive/.deps/
libarchive/.dirstamp
libarchive/test/.deps/
libarchive/test/.dirstamp
libarchive/test/list.h
libarchive_fe.la
libarchive_fe/.deps/
libarchive_fe/.dirstamp
libarchive_test
libtool
stamp-h1
tar/.deps/
tar/.dirstamp
tar/test/.deps/
tar/test/.dirstamp
tar/test/list.h
CMakeCache.txt
CMakeFiles/
DartConfiguration.tcl
cmake.tmp/
cpio/CMakeFiles/
cpio/test/CMakeFiles/
libarchive/CMakeFiles/
libarchive/test/CMakeFiles/
tar/CMakeFiles/
tar/test/CMakeFiles/
test_utils/.deps/
test_utils/.dirstamp

doc/html/*.html
doc/man/*.1
doc/man/*.3
doc/man/*.5
doc/pdf/*.pdf
doc/text/*.txt
doc/wiki/*.wiki

libarchive-*.tar.gz
libarchive-*.zip

Testing/
libarchive/libarchive.a
libarchive/libarchive.so
libarchive/libarchive.so.*

.DS_Store

bsdcat_test.log
bsdcat_test.trs
bsdcpio_test.log
bsdcpio_test.trs
bsdtar_test.log
bsdtar_test.trs
build/autoconf/test-driver
libarchive_test.log
libarchive_test.trs
test-suite.log

.sw?
.*.sw?
