/*
 * $FreeBSD$
 */

BODY, H1, H2, H3, H4, H5, H6, LI {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    background-color: white;
    color: navy;
}

A:link {
    background-color: white;
    color: blue;
}

A:visited {
    background-color: white;
    color: gray;
}

A:active {
    background-color: white;
    color: red;
}

.tiny {
    font-size: x-small;
}

.update {
    font-style: italic;
}

.ok {
    background-color: white;
    color: #070;
}

.ok-stale {
    background-color: white;
    color: #797;
}

.fail {
    background-color: white;
    color: #700;
}

.fail-stale {
    background-color: white;
    color: #977;
}

TD, TH {
    width: 16ex;
    text-align: center;
    vertical-align: middle;
}

IMG {
    border: none;
}
