# $FreeBSD: src/etc/ppp/ppp.shells.sample,v 1.3 1999/08/27 23:24:08 peter Exp $
#
# List of acceptable shells for pppd(8).
# Pppd will not accept a system password login
# by a user whose shell is not listed below.

/bin/sh
/bin/csh
/usr/local/bin/ksh
/usr/local/bin/zsh
/usr/local/bin/bash
/usr/local/bin/tcsh
/usr/local/bin/ppplogin.sh
