# $FreeBSD: src/etc/ppp/ppp.shells.sample,v 1.3.2.1 2000/08/17 06:11:46 jhb Exp $
#
# List of acceptable shells for pppd(8).
# Pppd will not accept a system password login
# by a user whose shell is not listed below.

/bin/sh
/bin/csh
/bin/tcsh
/usr/local/bin/ksh
/usr/local/bin/zsh
/usr/local/bin/bash
/usr/local/bin/tcsh
/usr/local/bin/ppplogin.sh
