##################################################
# Sysname	Secret Key	Peer's IP address
#
# $FreeBSD$
#
##################################################
oscar		OurSecretKey	192.244.184.34/24
BigBird		X4dWg9327	192.244.184.33/32
tama		localPasswdForControl 
