#########################################################################
#
#          Example of ppp.linkup file
#
#
#  This file is checked when PPP establishes network level connection.
#  PPP command searches label in this file in following way and order.
#
#  1) At first, IP address assigned into our side is searched and execute
#     associated command.
#
#  2) If it didn't found, then label name specified at startup time is
#     searched.
#
#  3) If given label name is not found, then label MYADDR is searched.
#
# $Id: ppp.linkup.sample,v 1.1.1.1 1995/01/31 06:24:33 amurai Exp $
#
#########################################################################
#
# If we've got 192.244.176.32 as our address, then regard peer as a gateway
# to 192.244.176.0 network.
#
#192.244.176.32:
# add 192.244.176.0 255.255.255.0 HISADDR
#
# If we are invoked with an argument ``iij-demand'', then
# delete existing route entry and add peer as default gateway.
#
iij-demand:
 delete ALL
 add 0 0 HISADDR
#
# Otherwise, simply add peer as default gateway.
#
MYADDR:
 add 0 0 HISADDR
