#################################################################
#
#  	PPP  Sample Configuration File
#
#	  Written by Toshiharu OHNO
#
# $Id: ppp.conf.sample,v 1.16 1997/08/25 01:07:06 brian Exp $
#
#################################################################

# Default setup. Always executed when PPP is invoked.
#
default:
 set device /dev/cuaa1
 set speed 115200
 set log Phase Chat Connect Carrier hdlc LCP IPCP CCP tun
 disable lqr
 deny lqr
 set dial "ABORT BUSY ABORT NO\\sCARRIER TIMEOUT 5 \"\" ATE1Q0 OK-AT-OK \\dATDT\\T TIMEOUT 40 CONNECT"

# Example with a login script
#
#   o From PPP prompt,
#	ppp> dial simplesite
#     automatically dials and performs the login script.
#
#       ppp> load simplesite
#     loads and executes commands, but doesn't dial.
#
#   o From shell, invoke as
#       $ ppp simplesite
#     to load commands associated with the 'simplesite' label. Use,
#       ppp> dial
#     to establish the connection.
#
simplesite:
 set phone 12345678
 set login "TIMEOUT 5 ogin:--ogin: ppp word: ppp ocol: ppp"
 set timeout 120

# Multi-phone example.  Numbers separated by a : are used sequentially.
# Numbers separated by a | are used if the previous dial or login script
# failed.  Usually, you will prefer to use only one of | or :, but both
# are allowed.
#
multiphone:
 set phone 12345678|12345679:12345670|12345671
 set login "TIMEOUT 5 ogin:--ogin: ppp word: ppp ocol: ppp"

# If the peer requires to use CHAP, don't forget to supply authname
# and authkey.
#
# If you'd like to use CHAP to authenticate with the peer, comment out
# the line ``enable chap'' below. You also need to prepare /etc/ppp.secret.
#
# If the remote system sends its system name within the CHAP packet and it
# is found in /etc/ppp.secret, then the secret key is taken from that file
# and value of authkey specified here is ignored.
#
chapsite:
 set phone 12345678
 set login "TIMEOUT 5 ogin:--ogin: ppp word: ppp"
 deny pap
 accept chap
# enable chap
 set authname MySystemName
 set authkey  OurSecretKey

# Speaking PAP is like speaking CHAP
#
papsite:
 set phone 12345678
 set login "TIMEOUT 5 ogin:--ogin: ppp word: ppp"
 deny chap
 accept pap
# enable pap
 set authname MyUserName
 set authkey  MyPassword

# On demand dialup example
#  Here, we assume that local side use 192.244.185.226 and
#  remote side use 192.244.176.44 as their IP address.
#  You must supply -auto option to invoke PPP.
#
#  $ ppp -auto ondemand
#
ondemand:
 set phone 1234567
 set login "TIMEOUT 5 ogin:--ogin: ppp word: ppp"
 set timeout 120
 set ifaddr 192.244.185.226 192.244.176.44 255.255.255.0
 add 0 0 192.244.176.44

# Another on demand example
#  If the peer assigns us an arbitrary IP and we can't predict what their
#  IP will be either, take a wild guess at an some IPs that you can't
#  currently route to.  Ensure that the "delete" and "add" lines are also
#  present in ppp.linkup so that when we connect, things will be put straight.
#
#  The /0 bit says that we insist on 0 bits of the specified IP actually
#  being correct, therefore, the other side can assign any IP numbers.
#
pmdemand:
 set phone 1234567
 set login "TIMEOUT 5 ogin:--ogin: ppp word: ppp"
 set timeout 120
 set ifaddr 10.0.0.1/0 10.0.0.2/0 255.255.255.0
 delete ALL
 add 0 0 HISADDR

# Examples to connect using a null-modem cable from one machine to another.
# The important thing here is to allow the lqr packets on both sides.
# Without them enabled, we can't tell if the line's dropped - there
# should always be carrier on a direct connection.
# Here, the server sends lqr's every 10 seconds and quits if three in a
# row fail.
#
# Make sure you don't have "deny lqr" in your default: on the client !
#
direct-client:
 set dial ""
 set line /dev/cuaa0
 set sp 115200
 set timeout 900
 set log Phase Chat LQM
 set login "TIMEOUT 5 ogin:--ogin: ppp word: ppp HELLO"
 set ifaddr 10.0.4.2 10.0.4.1
 add 10.0.4.2 255.255.255.255 127.0.0.1
 
direct-server:
 set timeout 900 10 3
 set log Phase LQM
 set ifaddr 10.0.4.1 10.0.4.2
 add 10.0.4.1 255.255.255.255 127.0.0.1

# Example to validate incoming user with CHAP
#  Invoke as ``ppp -direct users'' from login script. User's system name
#  and secret-key must be registered into /etc/ppp.secret.
#  IP address assigned to peer is registered in ppp.secret, then that
#  value is used and value in ``ifaddr'' command has no effect.
#
users:
 disable pap
 enable chap
 enable  proxy
 set authname ppp-server
 set ifaddr 192.244.176.44 292.244.184.31

# Example of Callback Request
#
#  Here, we assume that peer will hangup the line and initiates a callback
#  after successful authentication. We simply use chat script capability
#  and wait for a "NO CARRIER" response from our modem.
#
#  $ ppp callback
#
callback:
 set phone 0312345678
 set login "ABORT NO\\sCARRIER TIMEOUT 5 ogin:--ogin: MyName word: MySecret TIMEOUT 20 DUMMY"
 set log phase chat
 dial
 quit

# Example for ppp over tcp.  We assume that inetd on tcpsrv.mynet has been
# configured to run "ppp -direct tcp-server" when it gets a connection on
# port 1234.  Read doc for further details
#
tcp-client:
 set device tcpsrv.mynet:1234
 set dial
 set login
 set escape 0xff
 set ifaddr 10.0.5.1 10.0.4.1 255.255.255.0

tcp-server:
 set escape 0xff
 set ifaddr 10.0.4.1 10.0.5.1 255.255.255.0
