#########################################################################
#
#          Example of ppp.linkup file
#
#
#  This file is checked when PPP establishes a connection.
#  PPP searches the labels in this file as follows:
#
#  1) The label that matches the IP number assigned to our side.
#
#  2) The label specified on the command line to ppp.
#
#  3) If no label has been found, use MYADDR if it exists.
#
# $Id: ppp.linkup.sample,v 1.6 1997/02/23 14:04:23 brian Exp $
#
#########################################################################

# If we've got 192.244.176.32 as our address, then regard peer as a gateway
# to 192.244.176.0 network.
#
192.244.176.32:
 add 192.244.176.0 0 HISADDR

# If we are invoked with an argument ``iij-demand'', then delete all
# existing route entries and add the peer as the default gateway.
#
iij-demand:
 delete ALL
 add 0 0 HISADDR

# Otherwise, simply add peer as default gateway.
#
MYADDR:
 add 0 0 HISADDR

# If we are invoked with an argument ``pmdemand'', then
# delete all existing (wrong) routing entries and add the peer IP
# as our default gateway.
# This is vital if you don't already know either sides IP number.
#
# We create a loopback route to ourselves so that we can "ping"
# our side of the connection
#
# We also want to execute a script on startup.  This script can do
# nice things such as kick off "sendmail -q", "popclient my.isp" and
# "slurp -d news".  It can be passed MYADDR, HISADDR and INTERFACE
# too - useful for informing a DNS.
#
pmdemand:
 delete ALL
 add 0 0 HISADDR
 add MYADDR 255.255.255.255 127.0.0.1
 ! sh -c "/etc/ppp/ppp.etherup.pmdemand &"
