\ Simple loader.rc for picobsd floppies
\ $Id: loader.rc,v 1.1.2.1 1999/05/07 10:02:53 abial Exp $

include /boot/loader.4th

only forth definitions also support-functions

s" /boot/defaults/loader.conf" initialize
include_conf_files
\ For now always display menu. You can remove this if you want.
.( Loading screen routines...)
include /boot/screen.4th
.( Done) cr
.( Loading frame routines...)
include /boot/frames.4th
.( Done) cr
.( Loading menu...)
include /boot/menu.4th
.( Done) cr
main_menu
