/dts-v1/;
#include "cv181x_base_arm.dtsi"
#include "cv181x_asic_bga.dtsi"
#include "cv181x_asic_emmc.dtsi"

/ {
	model = "Milk-V DuoS";
};

&mipi_rx {
	snsr-reset = <&porta 2 GPIO_ACTIVE_LOW>, <&porta 2 GPIO_ACTIVE_LOW>, <&porta 2 GPIO_ACTIVE_LOW>;
};

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";

	gt9xx: gt9xx@14 {
		compatible = "goodix,gt9xx";
		reg = <0x14>;
		goodix,irq-gpio = <&porta 18 0>;
		goodix,rst-gpio = <&porta 19 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&spi3 {
	status = "okay";

	spidev@0 {
		status = "okay";
	};
};

&dac {
	/delete-property/ mute-gpio-l;
	/delete-property/ mute-gpio-r;
};

/* mipi dsi for u-boot */
&vo {
	compatible = "cvitek,vo";
	reset-gpio = <&porte 2 GPIO_ACTIVE_LOW>;
	pwm-gpio = <&porte 0 GPIO_ACTIVE_HIGH>;
	power-ct-gpio = <&porte 1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

/* mipi dsi for kernel */
&mipi_tx {
	compatible = "cvitek,mipi_tx";
	reset-gpio = <&porte 2 GPIO_ACTIVE_LOW>;
	pwm-gpio = <&porte 0 GPIO_ACTIVE_HIGH>;
	power-ct-gpio = <&porte 1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&wifisd {
	status = "okay";
	cap-sd-highspeed;
	sd-uhs-sdr25;
	sd-uhs-ddr50;
	sd-uhs-sdr104;
	min-frequency = <400000>;
	max-frequency = <187500000>;
};

&wifi_pin {
	status = "okay";
	compatible = "cvitek,wifi-pin";
	poweron-gpio = <&porta 15 GPIO_ACTIVE_HIGH>;
	wakeup-gpio = <&porte 7 GPIO_ACTIVE_HIGH>;
};

&usb {
	vbus-gpio = <&portb 6 0>;
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
};
