config INFINIBAND_SDP
	tristate "Sockets Direct Protocol"
	depends on INFINIBAND && INFINIBAND_IPOIB
	---help---
	  Support for Sockets Direct Protocol (SDP).  This provides
          sockets semantics over InfiniBand via address family
          AF_INET_SDP (address family 27).  You can also LD_PRELOAD the
          libsdp library from <http://openib.org> to have standard
          sockets applications use SDP.

config INFINIBAND_SDP_DEBUG
	bool "Sockets Direct Protocol debugging"
	depends on INFINIBAND_SDP
	---help---
	  This option causes debugging code to be compiled into the
	  SDP driver.  The output can be turned on via the debug_level
	  module parameter  (which can also be set through sysfs after the
	  driver is loaded).

config INFINIBAND_SDP_DEBUG_DATA
        bool "Sockets Direct Protocol data path debugging"
        depends on INFINIBAND_SDP_DEBUG
        ---help---
          This option compiles debugging code into the the data path
          of the SDP driver.  The output can be turned on via the
          data_debug_level module parameter; however, even with output
          turned off, this debugging code will have some performance
          impact.
