#
# Tinderbox setup for ada.des.no
#
# $FreeBSD: src/tools/tools/tinderbox/etc/ada.rc,v 1.2 2003/08/01 07:24:31 des Exp $
#

comment		= Tinderbox development
branches	= RELENG_4
targets		= update, world, lint, release
platforms	= i386
