#
# CURRENT tinderbox setup
#
# $FreeBSD: src/tools/tools/tinderbox/etc/current.rc,v 1.8 2004/03/16 00:24:54 des Exp $
#

branches	= CURRENT
platforms	= alpha, amd64, i386/i386, i386/pc98, ia64, powerpc, sparc64
cflags		= -O2 -pipe
coptflags	= %%CFLAGS%%
recipient	= %%SENDER%%,<current@freebsd.org>,<%%arch%%@freebsd.org>
