#
# CURRENT tinderbox setup
#
# $FreeBSD: src/tools/tools/tinderbox/etc/current.rc,v 1.8.20.1 2008/10/02 02:57:24 kensmith Exp $
#

branches	= CURRENT
platforms	= alpha, amd64, i386/i386, i386/pc98, ia64, powerpc, sparc64
cflags		= -O2 -pipe
coptflags	= %%CFLAGS%%
recipient	= %%SENDER%%,<current@freebsd.org>,<%%arch%%@freebsd.org>
