#
# Tinderbox defaults
#
# $FreeBSD: src/tools/tools/tinderbox/etc/default.rc,v 1.9.12.1 2008/10/02 02:57:24 kensmith Exp $
#

comment		= %%branch%% tinderbox

# Paths
sandbox		= %%HOME%%
logdir		= %%HOME%%/logs

# Tinderbox options
options		= --verbose
targets		= cleanobj, update, world, generic, lint
#timeout 	= 7200

# Reporting
sender		= FreeBSD Tinderbox <tinderbox@freebsd.org>
recipient	= %%SENDER%%
subject		= [%%COMMENT%%] failure on %%arch%%/%%machine%%
