#
# Tinderbox defaults
#
# $FreeBSD$
#

comment		= %%branch%% tinderbox

# Paths
sandbox		= %%HOME%%/sandbox
logdir		= %%HOME%%/logs

# Tinderbox options
options		= --verbose
targets		= cleanobj, update, world, generic, lint
#timeout 	= 7200

# Reporting
sender		= FreeBSD Tinderbox <tinderbox@freebsd.org>
recipient	= %%SENDER%%
subject		= [%%COMMENT%%] failure on %%arch%%/%%machine%%
