#
# Tinderbox setup for dsa.des.no
#
# $FreeBSD: src/tools/tools/tinderbox/etc/dsa.rc,v 1.2 2003/08/01 07:24:31 des Exp $
#

comment		= Tinderbox development
branches	= CURRENT
targets		= update, world, lint, release
platforms	= alpha
