#
# Tinderbox setup for experimental platforms.
#
# $FreeBSD: src/tools/tools/tinderbox/etc/experimental.rc,v 1.7 2003/08/01 21:17:43 des Exp $
#

comment		= Experimental platforms
branches	= CURRENT
env		= NOLIBC_R=YES, NOFORTH=YES
platforms	= powerpc
options		= --verbose, --verbose
targets		= clean, update, patch, world, generic, lint
patch		= %%arch%%.diff
