#
# Tinderbox setup for experimental platforms.
#
# $FreeBSD$
#

comment		= Experimental platforms
branches	= CURRENT
platforms	= powerpc
options		= --verbose, --verbose
targets		= clean, update, patch, world, generic, lint
patch		= %%arch%%.diff
