#
# HEAD tinderbox setup
#
# $FreeBSD$
#

branches	= HEAD
platforms	= alpha, amd64, i386/i386, i386/pc98, sparc64
cflags		= -O2 -pipe
coptflags	= %%CFLAGS%%
recipient	= %%SENDER%%,<current@freebsd.org>,<%%arch%%@freebsd.org>
