#
# RELENG_5 tinderbox setup
#
# $FreeBSD: src/tools/tools/tinderbox/etc/releng_5.rc,v 1.3 2003/12/04 10:22:56 des Exp $
#

branches	= RELENG_5_1, RELENG_5_2
platforms	= alpha, amd64, i386/i386, i386/pc98, ia64, sparc64
recipient	= current@freebsd.org,%%arch%%@freebsd.org
