#
# RELENG_5 tinderbox setup
#
# $FreeBSD$
#

branches	= RELENG_5_4, RELENG_5
platforms	= alpha, amd64, i386/i386, i386/pc98, sparc64
recipient	= %%SENDER%%,<stable@freebsd.org>,<%%arch%%@freebsd.org>
