#
# RELENG_4 tinderbox setup
#
# $FreeBSD: src/tools/tools/tinderbox/etc/releng_4.rc,v 1.5 2003/11/12 07:50:36 des Exp $
#

branches	= RELENG_4_8, RELENG_4_9, RELENG_4
platforms	= alpha, i386/i386, i386/pc98
recipient	= stable@freebsd.org,%%arch%%@freebsd.org
