#
# Tinderbox setup for stanley.rtp.freebsd.org
#
# $FreeBSD: src/tools/tools/tinderbox/etc/stanley.rc,v 1.4 2003/08/01 07:24:31 des Exp $
#

comment		= Tinderbox stress test
sandbox		= /vol/vol1/users/des/tinderbox
logdir		= /home/des/public_html/stanley
branches	= CURRENT
targets		= update, world, generic, lint
platforms	= alpha, amd64, i386/i386, i386/pc98, ia64, powerpc, sparc64
recipient	=
