# 	GNU Build System (Autotools)
aclocal.m4
*.announce
autom4te.cache/
autoscan.log
build-aux/
ChangeLog
compile
config.cache
config.guess
config.h
config.h.in
config.log
config-ml.in
config.py
config.status
config.status.lineno
config.sub
configure
configure.scan
depcomp
.dirstamp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
mdate-sh
missing
mkinstalldirs
stamp-h?
# 	Edit Compile Debug Document Distribute
*~
*.[0-9]
*.[0-9]x
*.bak
*.bin
core
.deps/
*.dll
*.exe
*.gcda
*.gcno
*.gcov
*.kld
*.ko
*.ko.cmd
*.lai
.libs/
*.l[oa]
*.[oa]
*.objq
*.patch
*.pc
*.pdb
*.pyc
py-compile
*.pyo
*.so
*.swo
*.swp
symlink-tree
tags
*.tar.bz2
*.tar.gz
*.tar.xz
texinfo.tex
.vimdir
ylwrap
# 	Application Specific Files
