AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces: Custom
BraceWrapping: {
  AfterFunction: 'true'
}
ColumnLimit: 80
IndentCaseLabels: false
IndentWidth: 8
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
IncludeCategories:
  - Regex: '.*'
  - Priority: 1
SortIncludes: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 8
UseTab: Always
