*.a
*.ko
*.o
*.gcov
*/**/*.a
*/**/*.o
*/**/*.o.cmd
*/**/*.ko
*/**/*.pyc
*/**/*.gcda
*/**/*.gcno
*/**/*.gcov
*/**/*.core
*/**/*test
test/.noseids
test/test_framework/.noseids
test/venv
test/test
extern/ck-0.6.0/doc/*.gz
extern/ck-0.6.0/Makefile
extern/ck-0.6.0/build/ck.build
extern/ck-0.6.0/build/ck.pc
extern/ck-0.6.0/build/ck.spec
extern/ck-0.6.0/build/regressions.build
extern/ck-0.6.0/doc/Makefile
extern/ck-0.6.0/include/ck_md.h
extern/ck-0.6.0/src/Makefile
extern/ck-0.6.0/src/libck.so
