tag.sh
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
bin
build*
compile
configure
config.guess
config.sub
depcomp
doc/Makefile.in
info*
install-sh
ltmain.sh
m4
missing
patches*
doc/Makefile.in
encoder/Makefile.in
encoder/cbor/Makefile.in
encoder/test/Makefile.in
libxo/Makefile.in
tests/Makefile.in
tests/core/Makefile.in
tests/gettext/Makefile.in
tests/xo/Makefile.in
xo/Makefile.in
xohtml/Makefile.in
xolint/Makefile.in
xopo/Makefile.in
