# This is an example of config, the main configuration file for Taylor
# UUCP.  To use it, you must compile the package with
# HAVE_TAYLOR_CONFIG set to 1 in policy.h (that is the default), copy
# this file to newconfigdir as set in Makefile.in (the default is
# /usr/local/conf/uucp), and edit it as appropriate for your system.

# You need not use this file at all; all the important commands have
# defaults which will be used if this file can not be found.

# Everything after a '#' character is a comment.  To uncomment any of
# the sample lines below, just delete the '#'.

# You must choose a UUCP name.  If your system is going to be
# communicating with other systems outside your organization, the name
# must be unique in the entire world.  The usual method is to pick a
# name, and then search the UUCP maps (in the newsgroup
# comp.mail.maps) to see whether it has already been taken.  See the
# README posting in comp.mail.maps for more information.  If the name
# of your system as returned by "uuname -n" or "hostname" is the name
# you want to use, you do not need to set the name in this file.
# Otherwise uncomment and edit the following line.
# nodename uucp				# The UUCP name of this system

# The default spool directory is set in policy.h (the default is
# /usr/spool/uucp).  All UUCP jobs and status information are kept in
# the spool directory.  If you wish to change it, use the spool
# command.
# spool /usr/spool/uucp			# The UUCP spool directory

# The default public directory is set in policy.h (the default is
# /usr/spool/uucppublic).  Remote systems may refer to a file in this
# directory using "~/FILE".  By default, the public directory is the
# only directory which remote systems may transfer files in and out
# of.  If you wish to change the public directory, use the pubdir
# command.
# pubdir /usr/spool/uucppublic		# The UUCP public directory

# The names of the UUCP log files are set in policy.h.  The default
# names depend on the logging option you have chosen.  If
# HAVE_TAYLOR_LOGGING is set in policy.h, the default log file name is
# /usr/spool/uucp/Log, the default statistics file name is
# /usr/spool/uucp/Stats, and the default debugging file name is
# /usr/spool/uucp/Debug.  These file names may be set by the following
# commands.
# logfile /usr/spool/uucp/Log		# The UUCP log file
# statfile /usr/spool/uucp/Stats	# The UUCP statistics file
# debugfile /usr/spool/uucp/Debug	# The UUCP debugging file

# uuxqt is the program which executes UUCP requests from other
# systems.  Normally one is started after each run of uucico, the
# communications daemon.  You may control the maximum number of uuxqt
# programs run at the same time with the following command.  The
# default is to have no maximum.
# max-uuxqts 1				# The maximum number of uuxqts

# There are several files that uucico uses.  By default it looks for
# them in newconfigdir, as set in Makefile.in.  You may name one or
# more of each type of file using the following commands.
# sysfile FILES				# Default "sys"
# portfile FILES			# Default "port"
# dialfile FILES			# Default "dial"
# dialcodefile FILES			# Default "dialcode"
# callfile FILES			# Default "call"
# passwdfile FILES			# Default "passwd"

# The ``timetable'' command may be used to declare timetables.  These
# may then be referred to in time strings in the other files.
# timetable Day Wk0905-1655

# The ``unknown'' command is followed by any command which may appear
# in a sys file.  These commands are taken together to describe what
# is permitted to a system which is not listed in any sys file.  If
# the ``unknown'' command, then unknown systems are not permitted to
# connect.

# Here is an example which permits unknown systems to download files
# from /usr/spool/anonymous, and to upload them to
# /usr/spool/anonymous/upload.
#
# No commands may be executed (the list of permitted commands is empty)
# unknown commands
# The public directory is /usr/spool/anonymous
# unknown pubdir /usr/spool/anonymous
# Only files in the public directory may be sent; users may not download
# files from the upload directory
# unknown remote-send ~ !~/upload
# May only upload files into /usr/spool/anonymous/upload
# unknown remote-receive ~/upload
