# $FreeBSD: src/gnu/libexec/uucp/sample/dial.sample,v 1.4 1999/08/27 23:33:44 peter Exp $

# This is an example of dial, the dialer configuration file for Taylor
# UUCP.  To use it, you must compile the package with
# HAVE_TAYLOR_CONFIG set to 1 in policy.h (that is the default), copy
# this file to newconfigdir as set in Makefile.in (the default is
# /usr/local/conf/uucp), and edit it as appropriate for your system.

# Everything after a '#' character is a comment.  To uncomment any of
# the sample lines below, just delete the '#'.

# All dialers named in the port (or sys) file must be described in the
# dial file.  It is also possible to describe a dialer directly in the
# port (or sys) file.

# This is a typical Hayes modem definition.
dialer hayes

# The chat script used to dial the phone.
# This means:
#  1) expect nothing (i.e., continue with step 2)
#  2) send "ATZ", then a carriage return, then sleep for 1 to 2
#     seconds.  The \c means to not send a final carriage return.
#  3) wait until the modem echoes "OK"
#  4) send "ATDT", then the telephone number (after translating any
#     dialcodes).
#  5) wait until the modem echoes "CONNECT"
#  6) Wait a little more, if your modem give CONNECT before carrier up
chat "" ATZ\r\d\c OK ATDT\T CONNECT \p\c

# If we get "BUSY" or "NO CARRIER" during the dial chat script we
# abort the dial immediately.
chat-fail BUSY
chat-fail ERROR
chat-fail NO\sDIALTONE
chat-fail NO\sCARRIER

# When the call is over, we make sure we hangup the modem.
# You don't need this stuff, if you modem can handle DTR drop properly
complete \d\d+++\d\dATH\r\c
abort \d\d+++\d\dATH\r\c
