# This is an example of a sys file, the file(s) which describe remote
# systems for Taylor UUCP.  To use it, you must compile the package
# with HAVE_TAYLOR_CONFIG set to 1 in policy.h (that is the default),
# copy this file to newconfigdir as set in Makefile.in (the default is
# /usr/local/conf/uucp), and edit it as appropriate for your system.

# If you do not use the ``unknown'' command in the config file, then
# each system that you communicate with must be listed in a sys file.

# Everything after a '#' character is a comment.  To uncomment any of
# the sample lines below, just delete the '#'.

# This is a sample sys file that might be used in a leaf system.  A
# leaf system is one that only contacts one other system.  sys2
# provides another example.

# The name of the remote system that we call.
system uunet

# The login name and password are kept in the callout password file
# (by default this is the file "call" in newconfigdir).
call-login *
call-password *

# We can send anything at any time.
time any

# During the day we only accept grade 'Z' or above; at other times
# (not mentioned here) we accept all grades.  uunet queues up news
# at grade 'd', which is lower than 'Z'.
call-timegrade Z Wk0755-2305,Su1655-2305

# The phone number to call.
phone 7389449

# uunet tends to be slow, so we increase the timeout
chat-timeout 120

# The port we use to dial out.
port serial

# Increase the timeout and the number of retries.
protocol-parameter g timeout 20
protocol-parameter g retries 10
