*.config
*.creator
*.files
*.includes
*.creator.user*
*.cflags
*.cxxflags
bin/*bc
bin/*bc.exe
bin/*dc
bin/*dc.exe
bin/bcl
bc.old
*.o
*.a
.log_*.txt
.test.txt
.math.txt
.results.txt
.ops.txt
manuals/bc.1
manuals/bc.1.ronn
manuals/bc.1.md
manuals/dc.1
manuals/dc.1.ronn
manuals/dc.1.md
gen/strgen
lib.c
lib2.c
lib3.c
bc_help.c
dc_help.c
config.mak
timeconst.bc
Makefile
bcl.pc

build/*
tests/fuzzing/bc_outputs1/*
tests/fuzzing/bc_outputs2/*
tests/fuzzing/bc_outputs3/*
tests/fuzzing/dc_outputs/*
tests/bc_outputs/*
tests/dc_outputs/*

.gdb_history

# Ignore the generated test files
parse.txt
parse_results.txt
print.txt
print_results.txt
bessel.txt
bessel_results.txt
prime.txt
strings2.txt
strings2_results.txt
tests/bc/scripts/add.txt
tests/bc/scripts/divide.txt
tests/bc/scripts/multiply.txt
tests/bc/scripts/subtract.txt
tests/bc/scripts/strings2.txt
benchmarks/bc/*.txt
benchmarks/dc/*.txt
scripts/ministat
scripts/bitfuncgen
perf.data
perf.data.old
*.gcda
*.gcno
*.gcov
*.html
*.profraw

core.*

cscope*.out
tags

*.vcxproj.user
vs/.vs/*
vs/bin/*
vs/lib/*
vs/src2/*
vs/tests/*.txt
vs/tests/*.exe
