[core]
	repositoryformatversion = 0
[svn-remote "svn"]
	rewriteRoot = svn://svn.FreeBSD.org/base/head/usr.bin/unifdef
	url = svn+ssh://fanf@svn.FreeBSD.org/base/head/usr.bin/unifdef
	fetch = :refs/remotes/git-svn
[remote "github"]
        url = git@github.com:fanf2/unifdef.git
        fetch = +refs/heads/*:refs/remotes/github/*
        fetch = +refs/pull/*/head:refs/remotes/github/pull/*
