# $FreeBSD: src/etc/mail/access.sample,v 1.1.2.1 2000/03/20 12:21:05 peter Exp $
#
# Mail relay access control list.  Default is to reject mail unless the
# destination is local, or listed in /etc/mail/sendmail.cw
#
cyberspammer.com		550 We don't accept mail from spammers
FREE.STEALTH.MAILER@		550 We don't accept mail from spammers
another.source.of.spam		REJECT
okay.cyberspammer.com		OK
128.32				RELAY
