# $FreeBSD: src/etc/mail/mailertable.sample,v 1.2.40.1 2010/12/21 17:10:29 kensmith Exp $
#
# List of domains (possibly wildcarded) and destination mailers
#
.my.domain		xnet:%1.my.domain
uuhost1.my.domain	suucp:uuhost1
.bitnet			smtp:relay.bit.net
