# $FreeBSD: src/etc/mail/mailertable.sample,v 1.2.36.1.8.1 2012/03/03 06:15:13 kensmith Exp $
#
# List of domains (possibly wildcarded) and destination mailers
#
.my.domain		xnet:%1.my.domain
uuhost1.my.domain	suucp:uuhost1
.bitnet			smtp:relay.bit.net
