# $FreeBSD: src/etc/mail/virtusertable.sample,v 1.1.2.1 2000/03/20 12:21:05 peter Exp $
#
# Map one or all usernames at a source hostname to a specific (or the same)
# username at another target hostname.  Remember to add the source hostname
# to /etc/mail/sendmail.cw so that sendmail will accept mail for the
# source hostname.
#
username@a.sample.hostname	localuser
username@a.sample.hostname	specificuser@a.possibly.different.hostname
@another.sample.hostname	specificuser@a.possibly.different.hostname
@yet.another.sample.hostname	%1@a.possibly.different.hostname
