
body { 
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: white;
  color: black;
}

pre {
  background-color: lightgrey;
  color: black;
  border: thin;
  border-style: solid;
}

