# This is the installation configuration file for my test machine,
# crate.cdrom.com.
# It is included here merely as a sort-of-documented example.

# Turn on extra debugging.
debug=yes

# My host specific data
hostname=crate.cdrom.com
domainname=cdrom.com
nameserver=204.216.27.3
defaultrouter=204.216.27.228
ipaddr=204.216.27.230
netmask=255.255.255.240

# Which installation device to use - ftp is pointed directly at my local
# machine and the installation device is my WD8013 ethernet interface.
ftp=ftp://time.cdrom.com/pub
netDev=ed0
mediaSetFTP

# Select which distributions we want.
distSetUser

# Now set the parameters for the partition editor on wd0.  Set to use all
# remaining free space (could also be "all" or "existing" to use all the
# disk or an existing FreeBSD slice). 
disk=wd0
diskSpace=free
bootManager=booteasy
diskPartitionEditor

# It's bogus that we have to re-enter the label editor for each partition
# we want to create, but it was easier to do it this way (from a programming
# standpoint, not a user standpoint!).  This assumes that slice 1 is a DOS
# partition and mounts it as /dos, which is the case on my laptop.
# We can also create a root partition of 20MB in size on the same pass since
# it's in a different slice (s2).  All sizes are expressed in 512 byte blocks!
wd0s2=partition 40960 /
diskLabelEditor

# Now make a 20MB swap partition in the second slice.
wd0s2=swap 40960 none
diskLabelEditor

# Size of 0 means allocate the rest of the space to /usr
wd0s2=partition 0 /usr
diskLabelEditor

# OK, everything is set.  Do it!
installCommit
