#	example of a configuration file for the isdn daemon & user-ppp
#
# $FreeBSD$


# SYSTEM section: isdnd global configuration parameters

system

# accounting

acctall		= on			# generate info for everything
acctfile	= /var/log/isdnd.acct	# name & location of accounting file
useacctfile	= yes			# generate accouting info to file
isdntime = on
monitor-allowed	= no			# global switch: monitor on/off


# User-ppp example

entry
name			= userppp0
usrdevicename		= rbch
usrdeviceunit		= 0
isdncontroller  	= 0
isdnchannel		= -1
local-phone-incoming	= 1234567
remote-phone-incoming	= *
local-phone-dialout	= 1234567	# This *MUST* be your local number
remote-phone-dialout	= 1234567	# ppp(8) will override this
remdial-handling	= first
dialin-reaction		= ignore
dialout-type		= normal
b1protocol		= hdlc
idletime-incoming	= 900		# Should be larger than ppp's timeout
idletime-outgoing	= 900		# Should be larger than ppp's timeout
unitlength		= 0
unitlengthsrc		= conf
dialretries		= 1
dialrandincr		= on
recoverytime		= 1		# Should be smaller than ppp's redial
usedown			= off
downtries		= 2
downtime		= 30

entry
name			= userppp1
usrdevicename		= rbch
usrdeviceunit		= 1
isdncontroller  	= 0
isdnchannel		= -1
local-phone-incoming	= 1234567
remote-phone-incoming	= *
local-phone-dialout	= 1234567	# This *MUST* be your local number
remote-phone-dialout	= 1234567	# ppp(8) will override this
remdial-handling	= first
dialin-reaction		= accept
dialout-type		= normal
b1protocol		= hdlc
idletime-incoming	= 900		# Should be larger than ppp's timeout
idletime-outgoing	= 900		# Should be larger than ppp's timeout
unitlength		= 0
unitlengthsrc		= conf
dialretries		= 1
dialrandincr		= on
recoverytime		= 1		# Should be smaller than ppp's redial
usedown			= off
downtries		= 2
downtime		= 30
