\ Loader.rc
\ $FreeBSD$
\
\ Includes additional commands
include /boot/loader.4th
try-include /boot/loader.rc.local

\ Reads and processes loader.conf variables
\ NOTE: Change to `initialize' if you enable the below boot menu
start

\ Tests for password -- executes autoboot first if a password was defined
check-password

\ Uncomment to enable boot menu
\ include /boot/beastie.4th
\ beastie-start

\ Unless set otherwise, autoboot is automatic at this point

