bin/XF98Setup
bin/xmseconfig
lib/X11/XF86Setup/
lib/X11/XF86Setup/phase1.tcl
lib/X11/XF86Setup/phase2.tcl
lib/X11/XF86Setup/phase3.tcl
lib/X11/XF86Setup/phase4.tcl
lib/X11/XF86Setup/phase5.tcl
lib/X11/XF86Setup/setuplib.tcl
lib/X11/XF86Setup/srvflags.tcl
lib/X11/XF86Setup/carddata.tcl
lib/X11/XF86Setup/card.tcl
lib/X11/XF86Setup/done.tcl
lib/X11/XF86Setup/filelist98.tcl
lib/X11/XF86Setup/keyboard.tcl
lib/X11/XF86Setup/mseproto98.tcl
lib/X11/XF86Setup/mondata.tcl
lib/X11/XF86Setup/monitor.tcl
lib/X11/XF86Setup/modeselect.tcl
lib/X11/XF86Setup/mouse.tcl
lib/X11/XF86Setup/LICENSE
lib/X11/XF86Setup/tcllib/
lib/X11/XF86Setup/tcllib/button.tcl
lib/X11/XF86Setup/tcllib/combobox.tcl
lib/X11/XF86Setup/tcllib/misc.tcl
lib/X11/XF86Setup/tcllib/downarrow.xbm
lib/X11/XF86Setup/tcllib/dialog.tcl
lib/X11/XF86Setup/tcllib/entry.tcl
lib/X11/XF86Setup/tcllib/focus.tcl
lib/X11/XF86Setup/tcllib/init.tcl
lib/X11/XF86Setup/tcllib/listbox.tcl
lib/X11/XF86Setup/tcllib/menu.tcl
lib/X11/XF86Setup/tcllib/optionMenu.tcl
lib/X11/XF86Setup/tcllib/palette.tcl
lib/X11/XF86Setup/tcllib/scale.tcl
lib/X11/XF86Setup/tcllib/scrollbar.tcl
lib/X11/XF86Setup/tcllib/tclIndex
lib/X11/XF86Setup/tcllib/tearoff.tcl
lib/X11/XF86Setup/tcllib/text.tcl
lib/X11/XF86Setup/tcllib/tk.tcl
lib/X11/XF86Setup/tcllib/tkerror.tcl
lib/X11/XF86Setup/tcllib/uparrow.xbm
lib/X11/XF86Setup/tcllib/license.terms
lib/X11/XF86Setup/pics/
lib/X11/XF86Setup/pics/vidcard.xbm
lib/X11/XF86Setup/pics/vidcard.msk
lib/X11/XF86Setup/pics/XFree86.xbm
lib/X11/XF86Setup/pics/XFree86.msk
lib/X11/XF86Setup/scripts/
lib/X11/XF86Setup/scripts/mseconfig.tcl
lib/X11/XF86Setup/texts/
lib/X11/XF86Setup/texts/local_text.tcl
lib/X11/XF86Setup/texts/generic/
lib/X11/XF86Setup/texts/generic/messages.tcl
lib/X11/XF86Setup/texts/generic/message_proc.tcl
lib/X11/XF86Setup/texts/generic/help_card.tcl
lib/X11/XF86Setup/texts/generic/help_done.tcl
lib/X11/XF86Setup/texts/generic/help_keyboard.tcl
lib/X11/XF86Setup/texts/generic/help_monitor.tcl
lib/X11/XF86Setup/texts/generic/help_mouse.tcl
lib/X11/XF86Setup/texts/generic/help_other.tcl
lib/X11/XF86Setup/texts/generic/help_intro.tcl
lib/X11/XF86Setup/texts/generic/help_modeselect.tcl
lib/X11/XF86Setup/texts/ja/
lib/X11/XF86Setup/texts/ja/messages.tcl
lib/X11/XF86Setup/texts/ja/message_proc.tcl
lib/X11/XF86Setup/texts/ja/help_card.tcl
lib/X11/XF86Setup/texts/ja/help_done.tcl
lib/X11/XF86Setup/texts/ja/help_keyboard.tcl
lib/X11/XF86Setup/texts/ja/help_monitor.tcl
lib/X11/XF86Setup/texts/ja/help_mouse.tcl
lib/X11/XF86Setup/texts/ja/help_other.tcl
lib/X11/XF86Setup/texts/ja/help_intro.tcl
lib/X11/XF86Setup/texts/ja/help_modeselect.tcl
man/man1/XF86Setup.1.gz
man/man1/xmseconfig.1.gz
