bin/
bin/imake
bin/makedepend
bin/lndir
bin/xmkmf
bin/mkdirhier
bin/gccmakedep
bin/mergelib
bin/makeg
bin/appres
bin/bdftopcf
bin/bitmap
bin/bmtoa
bin/atobm
bin/beforelight
bin/editres
bin/fsinfo
bin/fslsfonts
bin/fstobdf
bin/iceauth
bin/mkfontdir
bin/oclock
bin/proxymngr
bin/showrgb
bin/rstartd
bin/rstart
bin/smproxy
bin/twm
bin/x11perf
bin/x11perfcomp
bin/Xmark
bin/xauth
bin/xclipboard
bin/xcutsel
bin/xclock
bin/xcmsdb
bin/xconsole
bin/xdm
bin/sessreg
bin/xdpyinfo
bin/dga
bin/xfd
bin/xfindproxy
bin/xfwp
bin/xhost
bin/xieperf
bin/xinit
bin/startx
bin/setxkbmap
bin/xkbcomp
bin/xkbevd
bin/xkbprint
bin/xkbvleds
bin/xkbwatch
bin/xkbbell
bin/xkill
bin/xlogo
bin/xlsatoms
bin/xlsclients
bin/xlsfonts
bin/xmag
bin/xmh
bin/xmodmap
bin/xprop
bin/xrdb
bin/xrefresh
bin/xrx
bin/xset
bin/xsetroot
bin/xsm
bin/xstdcmap
bin/xsetmode
bin/xsetpointer
bin/xterm
bin/resize
bin/xvidtune
bin/xwd
bin/xwininfo
bin/xwud
bin/Xwrapper
bin/reconfig
bin/xf86config
bin/kbd_mode
bin/scanpci
bin/joycal
bin/SuperProbe
bin/xf98config
bin/lbxproxy
bin/xon
bin/ico
bin/listres
bin/showfont
bin/viewres
bin/xbiff
bin/xcalc
bin/xditview
bin/xedit
bin/xev
bin/xeyes
bin/xfontsel
bin/xgc
bin/xload
bin/xman
bin/xmessage
lib/libICE.so.6
lib/libICE.so
lib/libPEX5.so.6
lib/libPEX5.so
lib/libSM.so.6
lib/libSM.so
lib/libX11.so.6
lib/libX11.so
lib/libXIE.so.6
lib/libXIE.so
lib/libXThrStub.so.6
lib/libXThrStub.so
lib/libXaw.so.6
lib/libXaw.so
lib/libXext.so.6
lib/libXext.so
lib/libXi.so.6
lib/libXi.so
lib/libXmu.so.6
lib/libXmu.so
lib/libXp.so.6
lib/libXp.so
lib/libXt.so.6
lib/libXt.so
lib/libXtst.so.6
lib/libXtst.so
lib/liboldX.so.6
lib/liboldX.so
lib/modules/
lib/modules/xie.so
lib/modules/pex5.so
lib/modules/xf86Jstk.so
lib/modules/xf86Wacom.so
lib/modules/xf86Elo.so
lib/modules/xf86Dyna.so
lib/modules/xf86MuTouch.so
lib/modules/xf86Summa.so
lib/modules/xf86AceCad.so
lib/modules/xf86Dial.so
lib/modules/xf86Calcomp.so
lib/X11/app-defaults/
lib/X11/app-defaults/Bitmap
lib/X11/app-defaults/Bitmap-color
lib/X11/app-defaults/Beforelight
lib/X11/app-defaults/Editres
lib/X11/app-defaults/Editres-color
lib/X11/app-defaults/Clock-color
lib/X11/app-defaults/XClipboard
lib/X11/app-defaults/XClock
lib/X11/app-defaults/XConsole
lib/X11/app-defaults/Chooser
lib/X11/app-defaults/Xfd
lib/X11/app-defaults/XLogo
lib/X11/app-defaults/XLogo-color
lib/X11/app-defaults/Xmag
lib/X11/app-defaults/Xmh
lib/X11/app-defaults/XSm
lib/X11/app-defaults/XTerm
lib/X11/app-defaults/XTerm-color
lib/X11/app-defaults/Xvidtune
lib/X11/app-defaults/Viewres
lib/X11/app-defaults/XCalc
lib/X11/app-defaults/XCalc-color
lib/X11/app-defaults/Xditview
lib/X11/app-defaults/Xditview-chrtr
lib/X11/app-defaults/Xedit
lib/X11/app-defaults/XFontSel
lib/X11/app-defaults/Xgc
lib/X11/app-defaults/XLoad
lib/X11/app-defaults/Xman
lib/X11/app-defaults/Xmessage
