lib/X11/fonts/misc/gb16fs.pcf.gz
lib/X11/fonts/misc/gb16st.pcf.gz
lib/X11/fonts/misc/gb24st.pcf.gz
lib/X11/fonts/misc/hanglg16.pcf.gz
lib/X11/fonts/misc/hanglm16.pcf.gz
lib/X11/fonts/misc/hanglm24.pcf.gz
lib/X11/fonts/misc/heb6x13.pcf.gz
lib/X11/fonts/misc/heb8x13.pcf.gz
lib/X11/fonts/misc/jiskan16.pcf.gz
lib/X11/fonts/misc/jiskan24.pcf.gz
lib/X11/fonts/misc/k14.pcf.gz
