lib/X11/fonts/Speedo/
lib/X11/fonts/Speedo/font0648.spd
lib/X11/fonts/Speedo/font0649.spd
lib/X11/fonts/Speedo/font0709.spd
lib/X11/fonts/Speedo/font0710.spd
lib/X11/fonts/Speedo/font0419.spd
lib/X11/fonts/Speedo/font0582.spd
lib/X11/fonts/Speedo/font0583.spd
lib/X11/fonts/Speedo/font0611.spd
lib/X11/fonts/Speedo/fonts.dir
lib/X11/fonts/Speedo/fonts.scale
lib/X11/fonts/Type1/
lib/X11/fonts/Type1/UTRG____.pfa
lib/X11/fonts/Type1/UTB_____.pfa
lib/X11/fonts/Type1/UTBI____.pfa
lib/X11/fonts/Type1/UTI_____.pfa
lib/X11/fonts/Type1/cour.pfa
lib/X11/fonts/Type1/courb.pfa
lib/X11/fonts/Type1/courbi.pfa
lib/X11/fonts/Type1/couri.pfa
lib/X11/fonts/Type1/c0648bt_.pfb
lib/X11/fonts/Type1/c0649bt_.pfb
lib/X11/fonts/Type1/c0632bt_.pfb
lib/X11/fonts/Type1/c0633bt_.pfb
lib/X11/fonts/Type1/c0419bt_.pfb
lib/X11/fonts/Type1/c0582bt_.pfb
lib/X11/fonts/Type1/c0583bt_.pfb
lib/X11/fonts/Type1/c0611bt_.pfb
lib/X11/fonts/Type1/fonts.dir
lib/X11/fonts/Type1/fonts.scale
