lib/X11/doc/Japanese/
lib/X11/doc/Japanese/AccelCards
lib/X11/doc/Japanese/COPYRIGHT
lib/X11/doc/Japanese/README
lib/X11/doc/Japanese/README.Config
lib/X11/doc/Japanese/BUILD
lib/X11/doc/Japanese/INSTALL
lib/X11/doc/Japanese/LinkKit
lib/X11/doc/Japanese/RELNOTES
lib/X11/doc/Japanese/README.Linux
lib/X11/doc/Japanese/README.ati
lib/X11/doc/Japanese/README.trident
lib/X11/doc/Japanese/README.tseng
lib/X11/doc/Japanese/README.WstDig
lib/X11/doc/Japanese/README.DECtga
lib/X11/doc/Japanese/README.apm
lib/X11/doc/Japanese/README.rendition
lib/X11/doc/Japanese/README.epson
lib/X11/doc/Japanese/README.chips
lib/X11/doc/Japanese/README.cirrus
lib/X11/doc/Japanese/README.Video7
lib/X11/doc/Japanese/README.P9000
lib/X11/doc/Japanese/README.agx
lib/X11/doc/Japanese/README.S3
lib/X11/doc/Japanese/README.S3V
lib/X11/doc/Japanese/README.SiS
lib/X11/doc/Japanese/README.W32
lib/X11/doc/Japanese/README.Oak
lib/X11/doc/Japanese/README.I128
lib/X11/doc/Japanese/README.Mach32
lib/X11/doc/Japanese/README.Mach64
lib/X11/doc/Japanese/README.ark
lib/X11/doc/Japanese/README.MGA
lib/X11/doc/Japanese/README.NVIDIA
lib/X11/doc/Japanese/README.mouse
lib/X11/doc/Japanese/README.neo
lib/X11/doc/Japanese/README.3DLabs
lib/X11/doc/Japanese/README.cyrix
lib/X11/doc/Japanese/README.i740
lib/X11/doc/Japanese/README.r128
lib/X11/doc/Japanese/README.FreeBSD
lib/X11/doc/Japanese/VideoModes.doc
lib/X11/doc/Japanese/QuickStart.doc
lib/X11/doc/Japanese/README.clkprog
lib/X11/doc/Japanese/xinput
lib/X11/doc/Japanese/VGADriver.doc
lib/X11/doc/Japanese/modelines.txt
lib/X11/doc/Japanese/README98.1st
lib/X11/doc/Japanese/README98
