bsddialog
.depend*
*.o
*.so*
*.a
*.gz
*.core
*~
BSDDIALOG.geany
BSDDIALOG.tags
examples_library/calendar
examples_library/checklist
examples_library/datebox
examples_library/form
examples_library/gauge
examples_library/infobox
examples_library/menu
examples_library/mixedgauge
examples_library/mixedlist
examples_library/msgbox
examples_library/pause
examples_library/radiolist
examples_library/rangebox
examples_library/textbox
examples_library/theme
examples_library/timebox
examples_library/yesno
