bsddialog
*.o
*~
*.a
examples_library/buildlist
examples_library/checklist
examples_library/datebox
examples_library/form
examples_library/formw
examples_library/menu
examples_library/mixedlist
examples_library/radiolist
examples_library/theme
examples_library/treeview
examples_library/infobox
examples_library/msgbox
examples_library/pause
examples_library/rangebox
examples_library/sade
examples_library/timebox
examples_library/yesno
*.gz
lib/libbsddialog.so*
BSDDIALOG.geany
BSDDIALOG.tags
*.core
freebsd-lab/
