@charset "UTF-8";

@import "simple.css";

@foo rgb(255,255,255);

@bar (a,b,c);

@media screen
{
	body
	{ 
		background-color: green;
		color: yellow;
		background-image: url("foo");
		color: [ ( { ] ) };
	}

	@page :left
	{
		@margin { 10mm, 20mm, 30mm, 40mm };
		margin-top: 50mm;
	}

	div
	{
		color: blue;
	}

	border-left: 10mm
}

@page
{
	margin-left: 50mm;
}
