#------------------------------------------------------------------------------
#
#	example of a configuration file for the isdn daemon
#	---------------------------------------------------
#
# $FreeBSD$
#
#	last edit-date: [Sun May 27 09:33:59 2001]
#
#	NOTICE:
#	=======
#	This configuration file is an EXAMPLE only and MUST be edited
#	carefully to get the desired results!
#
#	Please read the "isdnd.rc" manual page (execute "man isdnd.rc")
#	for reference !
#
#------------------------------------------------------------------------------

#==============================================================================
# SYSTEM section: isdnd global configuration parameters
#==============================================================================
system

# accounting
# ----------

acctall		= on			# generate info for everything
acctfile	= /var/log/isdnd.acct	# name & location of accounting file
useacctfile	= yes			# generate accouting info to file

# monitor
# -------

monitor-allowed	= no			# global switch: monitor on/off
monitor-port	= 451			# default monitor TCP port

# Monitor rights are granted due to the most specific host/net spec, i.e. in 
# the example below host 192.168.1.2 will have the rights specified on that
# line, even so it belongs to net 192.168.1.0/24 as well.
#
# A monitor specification may either be:
#
#  - the name of a local (UNIX-domain) socket; this MUST start with a "/"
monitor		= "/var/run/isdn-monitor" 
monitor-access	= fullcmd
monitor-access	= channelstate, logevents
monitor-access	= callin, callout
#
#  - a dotted-quad host spec
monitor		= "192.168.1.2"
monitor-access	= restrictedcmd, channelstate, callin, callout
#
#  - a dotted-quad net spec with "/len" (CIDR-style) netmask spec
monitor		= "192.168.1.0/24"
monitor-access	= restrictedcmd, channelstate, callin, callout
#
#  - a resolveable host name
monitor		= "rumolt"
monitor-access	= restrictedcmd, channelstate, callin, callout
#
#  - a resolveable net name with "/len" netmask (s.a.) appended
monitor		= "up-vision-net/24"
monitor-access	= restrictedcmd, channelstate, callin, callout

# ratesfile
# ---------

ratesfile	= /etc/isdn/isdnd.rates	# name & location of rates file

# regular expression pattern matching
# -----------------------------------

#regexpr	= "connected.*XXX"	# look for matches in log messages
#regprog	= connectXXX		# execute program when match is found

regexpr         = "<unknown> incoming call from"
regprog         = unknown_incoming      # execute program whan match is found

# realtime priority section
# -------------------------

rtprio		= 25			# modify isdnd's process priority

#===========================================================================
# controller section
#===========================================================================
controller

firmware	= /etc/isdn/b1.t4	# microcode for an AVM B1 controller

#==============================================================================
# entry section: IP over ISDN example - i call back the remote end
#==============================================================================
entry				

name        		= I4BIP		# name for reference. This name will
					# be used in the logfile to identfy
					# this entry.

					# the network or telephone device
					# the data traffic should be routed to:
usrdevicename		= ipr		# ipr, isp, tel, rbch
usrdeviceunit		= 0		# unit number

					# the ISDN controller number to be
					# used for this entry:
isdncontroller		= 0		# controller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# incoming only, outgoing only or both:
direction		= inout		# in, out, inout

					# numbers used to verify a DIAL IN:
local-phone-incoming	= 321		# this is my number
remote-phone-incoming	= 0123456789	# this one can call in

					# numbers used at DIAL OUT time:
local-phone-dialout	= 321		# this is my number
remote-phone-dialout	= 00123456789	# i call this remote number

					# in case i have several remote 
					# telephone numbers specified, this 
					# is used to specify which one is 
					# used next on dial fail or retry:
remdial-handling	= first		# first, last or next

					# what happenes if someone dials in:
dialin-reaction		= callback	# accept, reject, ignore, answer, callback

					# normal dialout or do i call back:
dialout-type		= normal	# normal / calledback

callbackwait		= 1		# no of secs to wait before calling back

					# type of protocol on the B-channel:
					# hdlc must be specified for IP (the
					# ipr and isp drivers), raw must be
					# specified for telephone answering
b1protocol		= hdlc		# hdlc, raw

					# shorthold mode and idle time 
					# configuration:
ratetype		= 0		# ratesfile entry to use
unitlength		= 90		# unitlength to assume
unitlengthsrc		= rate		# none, rate, cmdl, conf, aocd
idletime-incoming	= 120		# incoming call idle timeout
idletime-outgoing	= 60		# outgoing call idle timeout
earlyhangup		= 5		# time to hangup before an expected
					# next charging unit will occur

					# retry and recovery parameters
dialretries		= 3		# # of dial retries
dialrandincr		= off		# random dial increment time
recoverytime		= 5		# time to wait between 2 dial tries
usedown			= off		# set i/f down
downtries		= 5		# retry cycles before set down
downtime		= 30		# time to be in down before going up

#connectprog		= "ip-up"	# run /etc/isdn/ip-up when an interface
					# has established its network connection.
					# example parameters are:
					# /etc/isdn/ip-up -d isp0 -f up -a 192.110.12.14
#disconnectprog		= "ip-down"	# like connectprog, but run after the connection
					# is closed (ISDN layer down). The actual
					# interface address might not be known
					# any more. example parameters are:
					# /etc/isdn/ip-up -d isp0 -f down -a 0.0.0.0

#==============================================================================
# entry section: IP over ISDN example - i am called back by the remote end
#==============================================================================
entry				
                                
name        		= I4BIP1	# name for reference
				
usrdevicename		= ipr		# ipr, tel, rbch
usrdeviceunit		= 1		# unit number
				
isdncontroller		= 0		# controller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# numbers used to DIAL OUT
remote-phone-dialout	= 00401234567	# remote number to dial 
local-phone-dialout	= 38		# our number to tell remote

					# numbers used to verify at DIAL IN
local-phone-incoming	= 38		# we take calls for this local number
remote-phone-incoming	= 00401234567	# we take calls from this remote machine

b1protocol		= hdlc		# hdlc, raw

ratetype		= 0		# city
unitlength		= 90		# default unit length
earlyhangup		= 5		# safety zone
unitlengthsrc		= aocd		# none, rate, cmdl, conf, aocd
				
dialin-reaction		= accept	# accept, reject, ignore, anwer, callback

dialout-type		= calledback	# normal or calledback

dialretries		= 3
recoverytime		= 3
calledbackwait		= 20
dialrandincr		= off

usedown			= off
downtries		= 2
downtime		= 30

idletime-incoming	= 300
idletime-outgoing	= 30

#==============================================================================
# entry section: answering machine example
#==============================================================================
entry				

name        		= I4BTEL	# name for reference
usrdevicename		= tel		# ipr, tel, rbch
usrdeviceunit           = 0             # unit number
				
isdncontroller		= 0		# controller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# numbers used to verify at DIAL IN
local-phone-incoming	= 456		# this is my number
remote-phone-incoming	= *		# anyone can call in
				
dialin-reaction		= answer	# accept, reject, ignore, answer

answerprog		= answer	# program to run

b1protocol		= raw		# hdlc, raw

idletime-incoming	= 5		# 5 seconds idle timeout

#==============================================================================
# kernel PPP (with budget handling) - Sunday & Holidays, we call back
#==============================================================================
entry				

valid			= "0,7"		# sundays & holidays

name        		= KPPPs		# name for reference
				
usrdevicename		= isp		# ipr, tel, rbch
usrdeviceunit		= 0		# unit number
				
isdncontroller		= 1		# controller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# numbers used to verify at DIAL IN
local-phone-incoming	= 29		# this is my number
remote-phone-incoming	= 00401234567	# this one can call in

					# numbers used to DIAL OUT
local-phone-dialout	= 29		# this is my number
remote-phone-dialout	= 00401234567	# i call this number

remdial-handling	= first		# first, last or next
				
dialin-reaction		= callback	# accept, reject, ignore, answer, callback

dialout-type		= normal	# normal / calledback

b1protocol		= hdlc		# hdlc, raw

idletime-incoming	= 30		# incoming call idle timeout
idletime-outgoing	= 120		# outgoing call idle timeout

unitlength		= 360		# unitlength to assume
unitlengthsrc		= conf		# none, rate, cmdl, conf, aocd

dialretries		= 5		# # of dial retries
dialrandincr		= on		# random dial increment time
recoverytime		= 3		# time to wait between 2 dial tries

callbackwait		= 5		# time to wait to call back

usedown			= off		# set i/f down
downtries		= 5		# retry cycles before set down
downtime		= 60		# time to be in down before going up

budget-callbackperiod	= 10800		# 3 hours
budget-callbackncalls	= 1000		# 2 callbacks in 3 hours
budget-callbacksfile	= /var/log/isdn/callbacks.isp0
budget-callbacksfile-rotate = yes

budget-calloutperiod	= 3600		# 1 hour
budget-calloutncalls	= 1000		# 3 calls in 1 hour
budget-calloutsfile	= /var/log/isdn/callouts.isp0
budget-calloutsfile-rotate = yes

#==============================================================================
# kernel PPP (with budget handling) - Monday-Saturday, 9:00-18:00: we call back
#==============================================================================
entry				

valid			= "1,2,3,4,5,6,9:00-18:00" # Monday-Saturday, day

name        		= KPPPd		# name for reference
				
usrdevicename		= isp		# ipr, tel, rbch
usrdeviceunit		= 0		# unit number
				
isdncontroller		= 1		# controller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# numbers used to verify at DIAL IN
local-phone-incoming	= 29		# this is my number
remote-phone-incoming	= 00401234567	# this one can call in

					# numbers used to DIAL OUT
local-phone-dialout	= 29		# this is my number
remote-phone-dialout	= 00401234567	# i call this number

remdial-handling	= first		# first, last or next
				
dialin-reaction		= callback	# accept, reject, ignore, answer, callback

dialout-type		= normal	# normal / calledback

b1protocol		= hdlc		# hdlc, raw

idletime-incoming	= 30		# incoming call idle timeout
idletime-outgoing	= 30		# outgoing call idle timeout

unitlength		= 60		# unitlength to assume
unitlengthsrc		= conf		# none, rate, cmdl, conf, aocd

dialretries		= 5		# # of dial retries
dialrandincr		= on		# random dial increment time
recoverytime		= 3		# time to wait between 2 dial tries

callbackwait		= 5		# time to wait to call back

usedown			= off		# set i/f down
downtries		= 5		# retry cycles before set down
downtime		= 60		# time to be in down before going up

budget-callbackperiod	= 10800		# 3 hours
budget-callbackncalls	= 1		# 1 callbacks in 3 hours
budget-callbacksfile	= /var/log/isdn/callbacks.isp0
budget-callbacksfile-rotate = yes

budget-calloutperiod	= 3600		# 1 hour
budget-calloutncalls	= 3		# 3 calls in 1 hour
budget-calloutsfile	= /var/log/isdn/callouts.isp0
budget-calloutsfile-rotate = yes

#==============================================================================
# kernel PPP (with budget handling) - Monday-Saturday: we call back
#==============================================================================
entry				

valid			= "1,2,3,4,5,6,18:00-9:00" # Monday-Saturday, night

name        		= KPPPn		# name for reference
				
usrdevicename		= isp		# ipr, tel, rbch
usrdeviceunit		= 0		# unit number
				
isdncontroller		= 1		# controller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# numbers used to verify at DIAL IN
local-phone-incoming	= 29		# this is my number
remote-phone-incoming	= 00401234567	# this one can call in

					# numbers used to DIAL OUT
local-phone-dialout	= 29		# this is my number
remote-phone-dialout	= 00401234567	# i call this number

remdial-handling	= first		# first, last or next
				
dialin-reaction		= callback	# accept, reject, ignore, answer, callback

dialout-type		= normal	# normal / calledback

b1protocol		= hdlc		# hdlc, raw

idletime-incoming	= 30		# incoming call idle timeout
idletime-outgoing	= 30		# outgoing call idle timeout

unitlength		= 60		# unitlength to assume
unitlengthsrc		= conf		# none, rate, cmdl, conf, aocd

dialretries		= 5		# # of dial retries
dialrandincr		= on		# random dial increment time
recoverytime		= 3		# time to wait between 2 dial tries

callbackwait		= 5		# time to wait to call back

usedown			= off		# set i/f down
downtries		= 5		# retry cycles before set down
downtime		= 60		# time to be in down before going up

budget-callbackperiod	= 7200		# 2 hours
budget-callbackncalls	= 2		# 2 callbacks in 2 hours
budget-callbacksfile	= /var/log/isdn/callbacks.isp0
budget-callbacksfile-rotate = yes

budget-calloutperiod	= 3600		# 1 hour
budget-calloutncalls	= 3		# 3 calls in 1 hour
budget-calloutsfile	= /var/log/isdn/callouts.isp0
budget-calloutsfile-rotate = yes

# EOF #########################################################################
