[Desktop Entry]
Version=1.0
Name=wpa_gui
Comment=Graphical user interface for wpa_supplicant
Exec=wpa_gui
Icon=wpa_gui
GenericName=wpa_supplicant user interface
Terminal=false
Type=Application
Categories=Qt;Network;
