# $FreeBSD: src/etc/mtree/BIND.include.dist,v 1.1.18.1 2008/10/02 02:57:24 kensmith Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bind
    ..
    bind9
    ..
    dns
    ..
    dst
    ..
    isc
    ..
    isccc
    ..
    isccfg
    ..
..
