#	$Id: BSD.usr.dist,v 1.40.4.9 1996/06/05 02:36:59 jkh Exp $
#

/set type=dir uname=bin gname=bin mode=0755
.               uname=root gname=wheel
    bin
    ..
/set type=dir uname=games gname=bin mode=0700
    games           uname=bin mode=0755
        hide
        ..
    ..
/set type=dir uname=bin gname=bin mode=0755
    include
    ..
    lib
    ..
    libdata
	lint
	..
	stallion
	..
    ..
    libexec
        lpr
        ..
	sm.bin
	..
        uucp
        ..
    ..
    local
    ..
    mdec
    ..
    obj
    ..
    sbin
    ..
    share
        calendar
		de_DE.ISO_8859-1
		..
		hr_HR.ISO_8859-2
		..
        ..
        dict
        ..
        doc
            FAQ
            ..
            handbook
            ..
            papers
            ..
            psd
                12.make
                ..
                18.gprof
                ..
                19.curses
                ..
                20.ipctut
                ..
                21.ipc
                ..
                22.rpcgen
                ..
                23.rpc
                ..
                24.xdr
                ..
                25.xdrrfc
                ..
                26.rpcrfc
                ..
                27.nfsrfc
                ..
            ..
            smm
                01.setup
                ..
                02.config
                ..
                03.fsck
                ..
                04.quotas
                ..
                05.fastfs
                ..
                06.nfs
                ..
                07.lpd
                ..
                08.sendmailop
                ..
                09.sendmail
                ..
                11.timedop
                ..
                12.timed
                ..
                18.net
                ..
            ..
            usd
                04.csh
                ..
                07.mail
                ..
                10.exref
                ..
                11.edit
                ..
                12.vi
                ..
                13.viref
                ..
                18.msdiffs
                ..
                19.memacros
                ..
                20.meref
                ..
                30.rogue
                ..
                31.trek
                ..
            ..
        ..
        examples
            FreeBSD_version
            ..
            cvs
		examples
		..
		contrib
		..
		pcl-cvs
		..
            ..
            etc
	    ..
	    find_interface
            ..
            ibcs2
            ..
            lkm
                misc
                    module
                    ..
                    test
                    ..
                ..
                syscall
                    module
                    ..
                    test
                    ..
                ..
            ..
            meteor
            ..
	    perfmon
	    ..
	    slattach
	    ..
            sliplogin
            ..
	    startslip
	    ..
            sunrpc
                dir
                ..
                msg
                ..
                sort
                ..
            ..
            sup
            ..
            syscons
            ..
            worm
            ..
        ..
/set type=dir uname=games gname=bin mode=0755
        games           uname=bin
            atc
            ..
            boggle
            ..
            fortune
            ..
            larn
            ..
            quiz.db
            ..
        ..
/set type=dir uname=bin gname=bin mode=0755
        groff_font
            devX100
            ..
            devX100-12
            ..
            devX75
            ..
            devX75-12
            ..
            devascii
            ..
            devdvi
                generate
                ..
            ..
            devkoi8-r
            ..
            devlatin1
            ..
            devps
                generate
                ..
            ..
        ..
        info
        ..
        isdn
        ..
        locale
	    da_DK.ISO_8859-1
            ..
	    de_AT.ISO_8859-1
            ..
	    de_CH.ISO_8859-1
            ..
	    de_DE.ISO_8859-1
            ..
	    en_AU.ISO_8859-1
            ..
	    en_CA.ISO_8859-1
            ..
	    en_GB.ISO_8859-1
            ..
	    en_US.ISO_8859-1
            ..
	    es_ES.ISO_8859-1
            ..
	    fi_FI.ISO_8859-1
            ..
	    fr_BE.ISO_8859-1
            ..
	    fr_CA.ISO_8859-1
            ..
	    fr_CH.ISO_8859-1
            ..
	    fr_FR.ISO_8859-1
            ..
	    is_IS.ISO_8859-1
            ..
	    it_CH.ISO_8859-1
            ..
	    it_IT.ISO_8859-1
            ..
            ja_JP.EUC
            ..
	    lt_LN.ASCII
            ..
	    lt_LN.ISO_8859-1
            ..
	    nl_BE.ISO_8859-1
            ..
	    nl_NL.ISO_8859-1
            ..
	    no_NO.ISO_8859-1
            ..
	    pt_PT.ISO_8859-1
            ..
            ru_SU.CP866
            ..
            ru_SU.KOI8-R
            ..
	    sv_SE.ISO_8859-1
            ..
        ..
/set type=dir uname=man gname=bin mode=0755
        man             uname=bin
            cat1
            ..
            cat2
            ..
            cat3
            ..
            cat4
                i386
                ..
            ..
            cat5
            ..
            cat6
            ..
            cat7
            ..
            cat8
                i386
                ..
            ..
            cat9
                i386
                ..
            ..
            man1            uname=bin
            ..
            man2            uname=bin
            ..
            man3            uname=bin
            ..
/set type=dir uname=bin gname=bin mode=0755
            man4
                i386
                ..
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
                i386
                ..
            ..
            man9
                i386
                ..
            ..
        ..
        me
        ..
        misc
            fonts
            ..
            pcvtfonts
            ..
            pkg_manage
            ..
        ..
        mk
        ..
        nls
	    C
	    ..
	    da_DK.ISO_8859-1
            ..
	    de_AT.ISO_8859-1
            ..
	    de_CH.ISO_8859-1
            ..
	    de_DE.ISO_8859-1
            ..
	    en_AU.ISO_8859-1
            ..
	    en_CA.ISO_8859-1
            ..
	    en_GB.ISO_8859-1
            ..
	    en_US.ISO_8859-1
            ..
	    es_ES.ISO_8859-1
            ..
	    fi_FI.ISO_8859-1
            ..
	    fr_BE.ISO_8859-1
            ..
	    fr_CA.ISO_8859-1
            ..
	    fr_CH.ISO_8859-1
            ..
	    fr_FR.ISO_8859-1
            ..
	    is_IS.ISO_8859-1
            ..
	    it_CH.ISO_8859-1
            ..
	    it_IT.ISO_8859-1
            ..
            ja_JP.EUC
            ..
	    lt_LN.ISO_8859-1
            ..
	    nl_BE.ISO_8859-1
            ..
	    nl_NL.ISO_8859-1
            ..
	    no_NO.ISO_8859-1
            ..
	    pt_PT.ISO_8859-1
            ..
            ru_SU.KOI8-R
            ..
	    sv_SE.ISO_8859-1
            ..
        ..
        perl
            sys
            ..
        ..
        sgml
            FreeBSD
                dtd
                ..
                lib
                ..
                rep
                ..
            ..
        ..
        skel
        ..
        syscons
            fonts
            ..
            keymaps
            ..
            scrnmaps
            ..
        ..
        tabset
        ..
        tmac
            mdoc
            ..
            mm
            ..
        ..
/set type=dir uname=bin gname=bin mode=0555
        zoneinfo        mode=0755
            Africa
            ..
            America
            ..
            Asia
            ..
            Atlantic
            ..
            Australia
            ..
            Etc
            ..
            Europe
            ..
            Indian
            ..
            Pacific
            ..
            SystemV
            ..
        ..
    ..
    src             mode=0755
    ..
..
