#	  fs: /usr
#	  by: rgrimes
#	date: Fri Jul 16 22:24:17 1993
#

/set type=file uname=bin gname=bin mode=0755
bin	type=dir uname=bin gname=bin mode=0755
..

/set type=file uname=games gname=bin mode=0700
games	type=dir uname=bin mode=0755
	hide	type=dir uname=games gname=bin mode=0700
	..
..

/set type=file uname=bin gname=bin mode=0755
include	type=dir
	g++	type=dir
		sys	type=dir
		..
	..
	rpc	type=dir
	..
..

/set type=file uname=bin gname=bin mode=0755
lib	type=dir
..

/set type=file uname=bin gname=bin mode=0755
libexec	type=dir
	lpr	type=dir uname=bin gname=bin mode=0755
	..
	uucp	type=dir uname=bin gname=bin mode=0755
	..
..

local	type=dir uname=bin gname=bin mode=0755
..

mdec	type=dir uname=bin gname=bin mode=0755
..

obj	type=dir uname=bin gname=bin mode=0755
..

sbin	type=dir uname=bin gname=bin mode=0755
..

share	type=dir
	calendar	type=dir uname=bin gname=bin mode=0755
	..

	dict		type=dir uname=bin gname=bin mode=0755
	..

	/set type=file uname=games gname=bin mode=0755
	games	type=dir uname=bin
		atc	type=dir uname=games gname=bin mode=0755
		..
		fortune	type=dir uname=games gname=bin mode=0755
		..
		larn	type=dir uname=games gname=bin mode=0755
		..
	..

	groff_font	type=dir uname=bin gname=bin mode=0755
	..

	/set type=file uname=bin gname=bin mode=0755
	man	type=dir
		cat1	type=dir uname=bin gname=bin mode=0755
		..
		cat2	type=dir uname=bin gname=bin mode=0755
		..
		cat3	type=dir uname=bin gname=bin mode=0755
		..
		cat4	type=dir
			i386	type=dir uname=bin gname=bin mode=0755
			..
		..
		cat5	type=dir uname=bin gname=bin mode=0755
		..
		cat6	type=dir uname=bin gname=bin mode=0755
		..
		cat7	type=dir uname=bin gname=bin mode=0755
		..
		cat8	type=dir
			i386	type=dir uname=bin gname=bin mode=0755
			..
		..
		man1	type=dir uname=bin gname=bin mode=0755
		..
		man2	type=dir uname=bin gname=bin mode=0755
		..
		man3	type=dir uname=bin gname=bin mode=0755
		..
		man4	type=dir
			i386	type=dir uname=bin gname=bin mode=0755
			..
		..
		man5	type=dir uname=bin gname=bin mode=0755
		..
		man6	type=dir uname=bin gname=bin mode=0755
		..
		man7	type=dir uname=bin gname=bin mode=0755
		..
		man8	type=dir
			i386	type=dir uname=bin gname=bin mode=0755
			..
		..
	..
	me	type=dir uname=bin gname=bin mode=0755
	..
	misc	type=dir uname=bin gname=bin mode=0755
		fonts	type=dir uname=bin gname=bin mode=0755
		..
	..
	mk	type=dir uname=bin gname=bin mode=0755
	..
	skel	type=dir uname=bin gname=bin mode=0755
	..
	tabset	type=dir uname=bin gname=bin mode=0755
	..
	tmac	type=dir uname=bin gname=bin mode=0755
	..
	zoneinfo	type=dir uname=bin gname=bin mode=0755
		Australia	type=dir uname=bin gname=bin mode=0555
		..
		Brazil		type=dir uname=bin gname=bin mode=0555
		..
		Canada		type=dir uname=bin gname=bin mode=0555
		..
		Chile		type=dir uname=bin gname=bin mode=0555
		..
		Mexico		type=dir uname=bin gname=bin mode=0555
		..
		SystemV		type=dir uname=bin gname=bin mode=0555
		..
		US		type=dir uname=bin gname=bin mode=0555
		..
		posix		type=dir uname=bin gname=bin mode=0555
		..
		right		type=dir uname=bin gname=bin mode=0555
		..
	..
..
src type=dir uname=bin gname=bin mode=0755
..
