# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    arpa
    ..
    cam
        scsi
        ..
    ..
    dev
        ic
        ..
        ppbus
        ..
        usb
        ..
        wi
        ..
    ..
    fs
        fdescfs
        ..
        fifofs
        ..
        msdosfs
        ..
        ntfs
        ..
        nullfs
        ..
        nwfs
        ..
        portalfs
        ..
        procfs
        ..
        smbfs
        ..
        umapfs
        ..
        unionfs
        ..
    ..
    g++
        std
        ..
    ..
    isc
    ..
    isofs
        cd9660
        ..
    ..
    machine
    ..
    net
    ..
    netatalk
    ..
    netatm
    ..
    netgraph
    ..
    netinet
    ..
    netinet6
    ..
    netipx
    ..
    netkey
    ..
    netnatm
    ..
    netncp
    ..
    netns
    ..
    netsmb
    ..
    nfs
    ..
    objc
    ..
    openssl
    ..
    pccard
    ..
    posix4
    ..
    protocols
    ..
    readline
    ..
    rpc
    ..
    rpcsvc
    ..
    security
    ..
    ss
    ..
    sys
    ..
    ufs
        ffs
        ..
        ufs
        ..
    ..
    vm
    ..
..
