#     $Id: BSD.x11.dist,v 1.1.2.2 1997/06/10 07:56:30 asami Exp $
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    etc
        rc.d
        ..
    ..
    include
        X11
            ICE
            ..
            PEX5
            ..
            PM
            ..
            SM
            ..
            Xaw
            ..
            Xmu
            ..
            bitmaps
            ..
            extensions
            ..
            fonts
            ..
            pixmaps
            ..
        ..
    ..
    info
    ..
    lib
        X11
            XF86Setup
                pics
                ..
                scripts
                ..
                tcllib
                ..
            ..
            app-defaults
            ..
            config
            ..
            doc
            ..
            etc
            ..
            fonts
                100dpi
                ..
                75dpi
                ..
                PEX
                ..
                Speedo
                ..
                Type1
                ..
                cyrillic
                ..
                misc
                ..
            ..
            fs
            ..
            lbxproxy
            ..
            locale
                C
                ..
                en_US.utf
                ..
                iso8859-1
                ..
                iso8859-2
                ..
                iso8859-3
                ..
                iso8859-4
                ..
                iso8859-5
                ..
                iso8859-6
                ..
                iso8859-7
                ..
                iso8859-8
                ..
                iso8859-9
                ..
                ja
                ..
                ja.JIS
                ..
                ja.SJIS
                ..
                ko
                ..
                koi8-r
                ..
                tbl_data
                ..
                th_TH.TACTIS
                ..
                zh
                ..
                zh_TW
                ..
            ..
            proxymngr
            ..
            rstart
                commands
                    x11r6
                    ..
                ..
                contexts
                ..
            ..
            twm
            ..
            x11perfcomp
            ..
            xdm
            ..
            xinit
            ..
            xkb
                compat
                ..
                compiled
                ..
                geometry
                    digital
                    ..
                    sgi
                    ..
                ..
                keycodes
                    digital
                    ..
                    sgi
                    ..
                ..
                keymap
                    digital
                    ..
                    sgi
                    ..
                    sun
                    ..
                ..
                rules
                ..
                semantics
                ..
                symbols
                    digital
                    ..
                    fujitsu
                    ..
                    nec
                    ..
                    sony
                    ..
                    sun
                    ..
                ..
            ..
            xserver
            ..
            xsm
            ..
        ..
        modules
        ..
    ..
    libexec
    ..
    man
        cat1            uname=man
        ..
        cat2            uname=man
        ..
        cat3            uname=man
        ..
        cat4            uname=man
        ..
        cat5            uname=man
        ..
        cat6            uname=man
        ..
        cat7            uname=man
        ..
        cat8            uname=man
        ..
        cat9            uname=man
        ..
        catl            uname=man
        ..
        catn            uname=man
        ..
        ja
            cat1            uname=man
            ..
            cat2            uname=man
            ..
            cat3            uname=man
            ..
            cat4            uname=man
            ..
            cat5            uname=man
            ..
            cat6            uname=man
            ..
            cat7            uname=man
            ..
            cat8            uname=man
            ..
            cat9            uname=man
            ..
            catl            uname=man
            ..
            catn            uname=man
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        man1
        ..
        man2
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man6
        ..
        man7
        ..
        man8
        ..
        man9
        ..
        manl
        ..
        mann
        ..
    ..
    share
        doc
        ..
        examples
        ..
    ..
..
