#	  fs: /
#	  by: rgrimes
#	date: Fri Jul 16 22:24:17 1993
#

/set type=dir uname=bin gname=bin mode=0755
crash
..
cron
	tabs	uname=root gname=wheel mode=0700
	..
..
db
..
log
..
mail
..
msgs
..
preserve
..
run
..
rwho
..
spool
	/set type=dir uname=bin gname=daemon mode=0755
	lock	uname=uucp
	..
	lpd
	..
	mqueue	uname=root gname=daemon
	..
	output
	..
	/set type=dir uname=uucp gname=daemon mode=0755
	uucp
		.Preserve	
		..
		.Sequence
		..
		.Status
		..
		.Temp
		..
		.Xqtdir
		..
	..
	uucppublic
	..
..
/set type=dir uname=bin gname=bin mode=0755
tmp	mode=01777
..

/set type=file uname=games gname=bin mode=0755
games	type=dir
	hackdir	type=dir
	..
..
