#	$Id: BSD.include.dist,v 1.7.2.1 1997/03/09 06:58:45 bde Exp $
#

/set type=dir uname=bin gname=bin mode=0755
.
    arpa
    ..
    g++
	std
	..
    ..
    kerberosIV
    ..
    machine
    ..
    net
    ..
    netatalk
    ..
    netinet
    ..
    netipx
    ..
    netkey
    ..
    netns
    ..
    nfs
    ..
    objc
    ..
    pccard
    ..
    protocols
    ..
    readline
    ..
    rpc
    ..
    rpcsvc
    ..
    ss
    ..
    sys
    ..
    ufs
        ffs
        ..
        lfs
        ..
        mfs
        ..
        ufs
        ..
    ..
    vm
    ..
..
