#	$Id: BSD.local.dist,v 1.7 1994/09/19 01:40:35 rgrimes Exp $
#

/set type=dir uname=bin gname=bin mode=0755
.               uname=root gname=wheel
    bin            
    ..
    etc            
    ..
    info           
    ..
    lib            
    ..
    libexec
    ..
    man            
        cat1            uname=man
        ..
        cat2            uname=man
        ..
        cat3            uname=man
        ..
        cat4            uname=man
        ..
        cat5            uname=man
        ..
        cat6            uname=man
        ..
        cat7            uname=man
        ..
        cat8            uname=man
        ..
        catl            uname=man
        ..
        man1           
        ..
        man2           
        ..
        man3           
        ..
        man4           
        ..
        man5           
        ..
        man6           
        ..
        man7           
        ..
        man8           
        ..
        manl           
        ..
        skel           
        ..
    ..
    sbin
    ..
..
