# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    etc
        rc.d
        ..
    ..
    include
        X11
        ..
    ..
    info
    ..
    lib
        X11
            app-defaults
            ..
            fonts
                local
                ..
            ..
        ..
    ..
    libdata
        pkgconfig
        ..
    ..
    libexec
    ..
    man
/set uname=man
        cat1
        ..
        cat2
        ..
        cat3
        ..
        cat4
        ..
        cat5
        ..
        cat6
        ..
        cat7
        ..
        cat8
        ..
        cat9
        ..
        catl
        ..
        catn
        ..
        ja              uname=root
            cat1
            ..
            cat2
            ..
            cat3
            ..
            cat4
            ..
            cat5
            ..
            cat6
            ..
            cat7
            ..
            cat8
            ..
            cat9
            ..
            catl
            ..
            catn
            ..
/set uname=root
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        man1
        ..
        man2
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man6
        ..
        man7
        ..
        man8
        ..
        man9
        ..
        manl
        ..
        mann
        ..
    ..
    share
        aclocal
        ..
        doc
            ja
            ..
        ..
        examples
        ..
        locale
            af
                LC_MESSAGES
                ..
            ..
            am
                LC_MESSAGES
                ..
            ..
            ar
                LC_MESSAGES
                ..
            ..
            az
                LC_MESSAGES
                ..
            ..
            be
                LC_MESSAGES
                ..
            ..
            bg
                LC_MESSAGES
                ..
            ..
            bn
                LC_MESSAGES
                ..
            ..
            bs
                LC_MESSAGES
                ..
            ..
            ca
                LC_MESSAGES
                ..
            ..
            cs
                LC_MESSAGES
                ..
            ..
            cy
                LC_MESSAGES
                ..
            ..
            da
                LC_MESSAGES
                ..
            ..
            de
                LC_MESSAGES
                ..
            ..
            de_AT
                LC_MESSAGES
                ..
            ..
            el
                LC_MESSAGES
                ..
            ..
            en
                LC_MESSAGES
                ..
            ..
            en_AU
                LC_MESSAGES
                ..
            ..
            en_CA
                LC_MESSAGES
                ..
            ..
            en_GB
                LC_MESSAGES
                ..
            ..
            eo
                LC_MESSAGES
                ..
            ..
            es
                LC_MESSAGES
                ..
            ..
            es_ES
                LC_MESSAGES
                ..
            ..
            es_MX
                LC_MESSAGES
                ..
            ..
            et
                LC_MESSAGES
                ..
            ..
            eu
                LC_MESSAGES
                ..
            ..
            fa
                LC_MESSAGES
                ..
            ..
            fa_IR
                LC_MESSAGES
                ..
            ..
            fi
                LC_MESSAGES
                ..
            ..
            fr
                LC_MESSAGES
                ..
            ..
            fr_FR
                LC_MESSAGES
                ..
            ..
            ga
                LC_MESSAGES
                ..
            ..
            gl
                LC_MESSAGES
                ..
            ..
            gu
                LC_MESSAGES
                ..
            ..
            he
                LC_MESSAGES
                ..
            ..
            hi
                LC_MESSAGES
                ..
            ..
            hr
                LC_MESSAGES
                ..
            ..
            hu
                LC_MESSAGES
                ..
            ..
            id
                LC_MESSAGES
                ..
            ..
            is
                LC_MESSAGES
                ..
            ..
            it
                LC_MESSAGES
                ..
            ..
            ja
                LC_MESSAGES
                ..
            ..
            ka
                LC_MESSAGES
                ..
            ..
            kn
                LC_MESSAGES
                ..
            ..
            ko
                LC_MESSAGES
                ..
            ..
            li
                LC_MESSAGES
                ..
            ..
            lt
                LC_MESSAGES
                ..
            ..
            lv
                LC_MESSAGES
                ..
            ..
            mk
                LC_MESSAGES
                ..
            ..
            ml
                LC_MESSAGES
                ..
            ..
            mn
                LC_MESSAGES
                ..
            ..
            ms
                LC_MESSAGES
                ..
            ..
            mt
                LC_MESSAGES
                ..
            ..
            nb
                LC_MESSAGES
                ..
            ..
            ne
                LC_MESSAGES
                ..
            ..
            nl
                LC_MESSAGES
                ..
            ..
            nn
                LC_MESSAGES
                ..
            ..
            no
                LC_MESSAGES
                ..
            ..
            or
                LC_MESSAGES
                ..
            ..
            pa
                LC_MESSAGES
                ..
            ..
            pl
                LC_MESSAGES
                ..
            ..
            pt
                LC_MESSAGES
                ..
            ..
            pt_BR
                LC_MESSAGES
                ..
            ..
            pt_PT
                LC_MESSAGES
                ..
            ..
            ro
                LC_MESSAGES
                ..
            ..
            ru
                LC_MESSAGES
                ..
            ..
            sk
                LC_MESSAGES
                ..
            ..
            sl
                LC_MESSAGES
                ..
            ..
            sq
                LC_MESSAGES
                ..
            ..
            sr
                LC_MESSAGES
                ..
            ..
            sr@Latn
                LC_MESSAGES
                ..
            ..
            sv
                LC_MESSAGES
                ..
            ..
            ta
                LC_MESSAGES
                ..
            ..
            tg
                LC_MESSAGES
                ..
            ..
            th
                LC_MESSAGES
                ..
            ..
            tk
                LC_MESSAGES
                ..
            ..
            tr
                LC_MESSAGES
                ..
            ..
            uk
                LC_MESSAGES
                ..
            ..
            uz
                LC_MESSAGES
                ..
            ..
            wa
                LC_MESSAGES
                ..
            ..
            vi
                LC_MESSAGES
                ..
            ..
            zh
                LC_MESSAGES
                ..
            ..
            zh_CN
                LC_MESSAGES
                ..
            ..
            zh_CN.GB2312
                LC_MESSAGES
                ..
            ..
            zh_TW
                LC_MESSAGES
                ..
            ..
            zh_TW.Big5
                LC_MESSAGES
                ..
            ..
        ..
	pixmaps
	..
    ..
..
