# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    debug
        bin
        ..
        boot
            kernel
            ..
        ..
        lib
            geom
            ..
        ..
        libexec
            casper
            ..
        ..
        sbin
        ..
        usr
            bin
            ..
            lib
                clang
                    3.7.0
                        lib
                            freebsd
                            ..
                        ..
                    ..
                ..
                engines
                ..
                i18n
                ..
                private
                ..
            ..
            lib32
                i18n
                ..
                private
                ..
            ..
            libexec
                bsdinstall
                ..
                lpr
                    ru
                    ..
                ..
                sendmail
                ..
                sm.bin
                ..
            ..
            sbin
            ..
        ..
    ..
..
