# $FreeBSD$
#
# Please see the file README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    etc
        rc.d
        ..
    ..
    include
        DPS
        ..
        GL
        ..
        X11
            ICE
            ..
            PEX5
            ..
            PM
            ..
            SM
            ..
            Xaw
            ..
            Xmu
            ..
            bitmaps
            ..
            extensions
            ..
            fonts
                codeconv
                ..
            ..
            pixmaps
            ..
        ..
        bitmaps
        ..
    ..
    info
    ..
    lib
        X11
            XF86Setup
                pics
                ..
                scripts
                ..
                tcllib
                ..
            ..
            app-defaults
            ..
            config
            ..
            doc
                PostScript
                ..
                html
                ..
            ..
            etc
            ..
            fonts
                100dpi
                ..
                75dpi
                ..
                CID
                ..
                PEX
                ..
                Speedo
                ..
                Type1
                ..
                cyrillic
                ..
                encodings
                    large
                    ..
                ..
                latin2
                    100dpi
                    ..
                    75dpi
                    ..
                ..
                local
                ..
                misc
                ..
            ..
            fs
            ..
            lbxproxy
            ..
            locale
                C
                ..
                armscii-8
                ..
                en_US.UTF-8
                ..
                en_US.utf
                ..
                georgian-academy
                ..
                georgian-ps
                ..
                ibm-cp1133
                ..
                iso8859-1
                ..
                iso8859-2
                ..
                iso8859-3
                ..
                iso8859-4
                ..
                iso8859-5
                ..
                iso8859-6
                ..
                iso8859-7
                ..
                iso8859-8
                ..
                iso8859-9
                ..
                iso8859-10
                ..
                iso8859-14
                ..
                iso8859-15
                ..
                ja
                ..
                ja.JIS
                ..
                ja.SJIS
                ..
                ko
                ..
                koi8-r
                ..
                koi8-u
                ..
                mulelao-1
                ..
                tbl_data
                ..
                th_TH.TACTIS
                ..
                vi_VN.tcvn
                ..
                vi_VN.viscii
                ..
                zh
                ..
                zh_TW
                ..
                zh_TW.Big5
                ..
            ..
            proxymngr
            ..
            rstart
                commands
                    x11r6
                    ..
                ..
                contexts
                ..
            ..
            twm
            ..
            x11perfcomp
            ..
            xdm
                pixmaps
                ..
            ..
            xinit
            ..
            xkb
                compat
                ..
                compiled
                ..
                geometry
                    digital
                    ..
                    sgi
                    ..
                ..
                keycodes
                    digital
                    ..
                    sgi
                    ..
                ..
                keymap
                    digital
                    ..
                    sgi
                    ..
                    sun
                    ..
                ..
                rules
                ..
                semantics
                ..
                symbols
                    digital
                    ..
                    fujitsu
                    ..
                    hp
                    ..
                    macintosh
                    ..
                    nec
                    ..
                    sgi
                    ..
                    sony
                    ..
                    sun
                    ..
                    xfree68
                    ..
                ..
                types
                ..
            ..
            xserver
            ..
            xsm
            ..
        ..
        aout
        ..
        modules
            codeconv
            ..
            dri
            ..
            drivers
            ..
            extensions
            ..
            fonts
            ..
            freebsd
            ..
            input
            ..
        ..
    ..
    libexec
    ..
    man
/set type=dir uname=man gname=wheel mode=0755
        cat1
        ..
        cat2
        ..
        cat3
        ..
        cat4
        ..
        cat5
        ..
        cat6
        ..
        cat7
        ..
        cat8
        ..
        cat9
        ..
        catl
        ..
        catn
        ..
        ja              uname=root
            cat1
            ..
            cat2
            ..
            cat3
            ..
            cat4
            ..
            cat5
            ..
            cat6
            ..
            cat7
            ..
            cat8
            ..
            cat9
            ..
            catl
            ..
            catn
            ..
/set type=dir uname=root gname=wheel mode=0755
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        man1
        ..
        man2
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man6
        ..
        man7
        ..
        man8
        ..
        man9
        ..
        manl
        ..
        mann
        ..
    ..
    share
        aclocal
        ..
        doc
            ja
            ..
        ..
        examples
        ..
    ..
..
