# $FreeBSD$
#
# Please see the file README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    boot
        defaults
        ..
    	modules
    	..
    ..
/set type=dir uname=root gname=wheel mode=0555
    dev             mode=0755
        fd
        ..
    ..
/set type=dir uname=root gname=wheel mode=0755
    etc
        defaults
        ..
        periodic
            daily
            ..
            weekly
            ..
            monthly
            ..
        ..
	ssh
	..
        ssl
        ..
        gnats
        ..
        isdn            mode=0700
        ..
        kerberosIV
        ..
        mail
        ..
        mtree
        ..
        namedb
# leave commented out until buildworld/installworld can
# handle new user ids
#             s               uname=bind gname=bind mode=0750
#             ..
        ..
        ppp
        ..
        skel
        ..
        uucp            uname=uucp gname=uucp mode=0770
        ..
    ..
    mnt
    ..
    proc            mode=0555
    ..
    root
    ..
    sbin
    ..
    tmp             mode=01777
    ..
    usr
    ..
    var
    ..
..
