# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    include
        atf-c
        ..
        atf-c++
        ..
    ..
    share
        atf
        ..
        doc
            atf
            ..
        ..
    ..
    tests
        bin
            date
            ..
            mv
            ..
            pax
            ..
            sh
                builtins
                ..
                errors
                ..
                execution
                ..
                expansion
                ..
                parameters
                ..
                parser
                ..
                set-e
                ..
            ..
            test
            ..
        ..
        lib
            atf
                libatf-c
                ..
                libatf-c++
                ..
                test-programs
                ..
            ..
            libcrypt
            ..
        ..
        libexec
            atf
                atf-check
                ..
            ..
        ..
        share
            examples
                tests
                    atf
                    ..
                    plain
                    ..
                ..
            ..
        ..
        usr.bin
            atf
                atf-sh
                ..
            ..
        ..
    ..
..
