#	  fs: /
#	  by: rgrimes
#	date: Fri Jul 16 22:24:17 1993
#

/set type=dir owner=bin group=bin mode=0755
crash
..
cron
	tabs	owner=root group=wheel mode=0700
	..
..
db
..
log
..
mail
..
msgs
..
preserve
..
run
..
rwho
..
spool
	/set type=dir owner=bin group=daemon mode=0755
	lock	owner=uucp
	..
	lpd
	..
	mqueue	owner=root group=daemon
	..
	output
	..
	/set type=dir owner=uucp group=daemon mode=0755
	uucp
		.Preserve	
		..
		.Sequence
		..
		.Status
		..
		.Temp
		..
		.Xqtdir
		..
	..
	uucppublic
	..
..
/set type=dir owner=bin group=bin mode=0755
tmp	mode=01777
..

/set type=file owner=games group=bin mode=0755
games	type=dir
	hackdir	type=dir
	..
..
