# $FreeBSD$
#
# Please see the file README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    etc
        rc.d
        ..
    ..
    include
    ..
    info
    ..
    lib
        perl5
            5.6.0
                man
                    man3
                    ..
                ..
            ..
            site_perl
                5.6.0
                    auto
                    ..
		    mach
                        auto
                        ..
                    ..
                ..
            ..
        ..
    ..
    libexec
    ..
    man
/set type=dir uname=man gname=wheel mode=0755
        cat1
        ..
        cat2
        ..
        cat3
        ..
        cat4
        ..
        cat5
        ..
        cat6
        ..
        cat7
        ..
        cat8
        ..
        cat9
        ..
        catl
        ..
        catn
        ..
        de_DE.ISO_8859-1    uname=root
            cat1
            ..
            cat2
            ..
            cat3
            ..
            cat4
            ..
            cat5
            ..
            cat6
            ..
            cat7
            ..
            cat8
            ..
            cat9
            ..
            catl
            ..
            catn
            ..
/set type=dir uname=root gname=wheel mode=0755
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        ja
/set type=dir uname=man gname=wheel mode=0755
            cat1
            ..
            cat2
            ..
            cat3
            ..
            cat4
            ..
            cat5
            ..
            cat6
            ..
            cat7
            ..
            cat8
            ..
            cat9
            ..
            catl
            ..
            catn
            ..
/set type=dir uname=root gname=wheel mode=0755
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        man1
        ..
        man2
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man6
        ..
        man7
        ..
        man8
        ..
        man9
        ..
        manl
        ..
        mann
        ..
    ..
    sbin
    ..
    share
        aclocal
        ..
        dict
        ..
        doc
            ja
            ..
        ..
        emacs
            site-lisp
            ..
        ..
        examples
        ..
        misc
        ..
        nls
            C
            ..
            cs_CZ.ISO_8859-2
            ..
            da_DK.ISO_8859-1
            ..
            de_AT.ISO_8859-1
            ..
            de_CH.ISO_8859-1
            ..
            de_DE.ISO_8859-1
            ..
            en_AU.ISO_8859-1
            ..
            en_CA.ISO_8859-1
            ..
            en_GB.ISO_8859-1
            ..
            en_US.ISO_8859-1
            ..
            es_ES.ISO_8859-1
            ..
            fi_FI.ISO_8859-1
            ..
            fr_BE.ISO_8859-1
            ..
            fr_CA.ISO_8859-1
            ..
            fr_CH.ISO_8859-1
            ..
            fr_FR.ISO_8859-1
            ..
            hr_HR.ISO_8859-2
            ..
            hu_HU.ISO_8859-2
            ..
            is_IS.ISO_8859-1
            ..
            it_CH.ISO_8859-1
            ..
            it_IT.ISO_8859-1
            ..
            ja_JP.EUC
            ..
            ja_JP.SJIS
            ..
            ja_JP.Shift_JIS
            ..
            ko_KR.EUC
            ..
            la_LN.ASCII
            ..
            la_LN.DIS_8859-15
            ..
            la_LN.ISO_8859-1
            ..
            la_LN.ISO_8859-2
            ..
            la_LN.ISO_8859-4
            ..
            lt_LT.ISO_8859-4
            ..
            nl_BE.ISO_8859-1
            ..
            nl_NL.ISO_8859-1
            ..
            no_NO.ISO_8859-1
            ..
            pl_PL.ISO_8859-2
            ..
            pt_PT.ISO_8859-1
            ..
            ru_SU.CP866
            ..
            ru_SU.ISO_8859-5
            ..
            ru_SU.KOI8-R
            ..
            sl_SI.ISO_8859-2
            ..
            sv_SE.ISO_8859-1
            ..
	    tr_TR.ISO_8859-9
	    ..
            uk_UA.KOI8-U
            ..
            zh_CN.EUC
            ..
            zh_TW.Big5
            ..
        ..
        skel
        ..
    ..
..
