#	$Id: BSD.var.dist,v 1.26.2.5 1998/02/27 21:32:32 jkh Exp $
#

/set type=dir uname=bin gname=bin mode=0755
.               uname=root gname=wheel
    account
    ..
/set type=dir uname=daemon gname=wheel mode=0755
    at              uname=root
        jobs
        ..
        spool
        ..
    ..
    backups         uname=root mode=0750
    ..
    crash           uname=root mode=0750
    ..
/set type=dir uname=root gname=wheel mode=0700
    cron            mode=0750
        tabs
        ..
    ..
    db              uname=bin gname=bin mode=0755
    ..
/set type=dir uname=root gname=bin mode=0755
    games                gname=games mode=0775
	hackdir          gname=games mode=0770
	    save         gname=games mode=0770
	    ..
        ..
        larn             gname=games mode=0775
        ..
        phantasia        gname=games mode=0775
        ..
    ..
    log             uname=bin
    ..
    mail            uname=bin gname=mail mode=0775
    ..
    msgs            uname=daemon
    ..
    preserve        uname=bin
    ..
    run             uname=root
    ..
    rwho            uname=bin gname=daemon mode=0775
    ..
/set type=dir uname=uucp gname=daemon mode=0755
    spool           uname=bin gname=bin
        lock            gname=dialer mode=0775
        ..
        lpd             uname=bin
        ..
        mqueue          uname=root
        ..
	opielocks       uname=root mode=0700
	..
        output          uname=bin
	    lpd		    uname=root gname=daemon
	    ..
        ..
/set type=dir uname=uucp gname=uucp mode=0775
        uucp
            .Preserve
            ..
            .Sequence
            ..
            .Status
            ..
            .Temp
            ..
            .Xqtdir
            ..
        ..
        uucppublic      mode=0777
        ..
    ..
/set type=dir uname=bin gname=bin mode=01777
    tmp
        vi.recover
        ..
    ..
    yp              mode=0755
    ..
..
