#	$Id: BSD.root.dist,v 1.32 1998/10/17 01:21:35 peter Exp $
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    boot
    ..
/set type=dir uname=root gname=wheel mode=0555
    dev             mode=0755
        fd
        ..
    ..
/set type=dir uname=root gname=wheel mode=0755
    etc
	periodic
		daily
		..
		weekly
		..
		monthly
		..
	..
        gnats
        ..
        kerberosIV
        ..
	mail
	..
        mtree
        ..
        namedb
		s	uname=bind gname=bind mode=0750
		..
        ..
        ppp
        ..
	skel
	..
        uucp            uname=uucp gname=uucp mode=0770
        ..
    ..
    lkm
    ..
    mnt
    ..
    modules
    ..
    proc            mode=0555
    ..
    root
    ..
    sbin
    ..
    tmp             uname=root gname=wheel mode=01777
    ..
    usr
    ..
    var
    ..
..
