# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
        cat
        ..
        chown
        ..
        date
        ..
        dd
        ..
        expr
        ..
        ls
        ..
        mv
        ..
        pax
        ..
        pkill
        ..
        sh
            builtins
            ..
            errors
            ..
            execution
            ..
            expansion
            ..
            parameters
            ..
            parser
            ..
            set-e
            ..
        ..
        sleep
        ..
        test
        ..
    ..
    cddl
        lib
        ..
        sbin
        ..
        usr.bin
        ..
        usr.sbin
            dtrace
                common
                    aggs
                    ..
                    arithmetic
                    ..
                    arrays
                    ..
                    assocs
                    ..
                    begin
                    ..
                    bitfields
                    ..
                    buffering
                    ..
                    builtinvar
                    ..
                    cg
                    ..
                    clauses
                    ..
                    cpc
                    ..
                    decls
                    ..
                    drops
                    ..
                    dtraceUtil
                    ..
                    end
                    ..
                    enum
                    ..
                    error
                    ..
                    exit
                    ..
                    fbtprovider
                    ..
                    funcs
                    ..
                    grammar
                    ..
                    include
                    ..
                    inline
                    ..
                    io
                    ..
                    ip
                    ..
                    java_api
                    ..
                    json
                    ..
                    lexer
                    ..
                    llquantize
                    ..
                    mdb
                    ..
                    mib
                    ..
                    misc
                    ..
                    multiaggs
                    ..
                    offsetof
                    ..
                    operators
                    ..
                    pid
                    ..
                    plockstat
                    ..
                    pointers
                    ..
                    pragma
                    ..
                    predicates
                    ..
                    preprocessor
                    ..
                    print
                    ..
                    printa
                    ..
                    printf
                    ..
                    privs
                    ..
                    probes
                    ..
                    proc
                    ..
                    profile-n
                    ..
                    providers
                    ..
                    raise
                    ..
                    rates
                    ..
                    safety
                    ..
                    scalars
                    ..
                    sched
                    ..
                    scripting
                    ..
                    sdt
                    ..
                    sizeof
                    ..
                    speculation
                    ..
                    stability
                    ..
                    stack
                    ..
                    stackdepth
                    ..
                    stop
                    ..
                    strlen
                    ..
                    strtoll
                    ..
                    struct
                    ..
                    syscall
                    ..
                    sysevent
                    ..
                    tick-n
                    ..
                    trace
                    ..
                    tracemem
                    ..
                    translators
                    ..
                    typedef
                    ..
                    types
                    ..
                    uctf
                    ..
                    union
                    ..
                    usdt
                    ..
                    ustack
                    ..
                    vars
                    ..
                    version
                    ..
                ..
            ..
        ..
    ..
    etc
        rc.d
        ..
    ..
    games
    ..
    gnu
        lib
        ..
        usr.bin
            diff
            ..
        ..
    ..
    lib
        atf
            libatf-c
                detail
                ..
            ..
            libatf-c++
                detail
                ..
            ..
            test-programs
            ..
        ..
        libarchive
        ..
        libc
            c063
            ..
            db
            ..
            gen
                execve
                ..
                posix_spawn
                ..
            ..
            hash
                data
                ..
            ..
            inet
            ..
            locale
            ..
            net
                getaddrinfo
                    data
                    ..
                ..
            ..
            regex
                data
                ..
            ..
            ssp
            ..
            stdio
            ..
            stdlib
            ..
            string
            ..
            sys
            ..
            time
            ..
            tls
                dso
                ..
            ..
            termios
            ..
            ttyio
            ..
        ..
        libcrypt
        ..
        libmp
        ..
        libnv
        ..
        libpam
        ..
        libproc
        ..
        librt
        ..
        libthr
            dlopen
            ..
        ..
        libutil
        ..
        libxo
        ..
        msun
        ..
    ..
    libexec
        atf
            atf-check
            ..
            atf-sh
            ..
        ..
        rtld-elf
        ..
    ..
    sbin
        dhclient
        ..
        devd
        ..
        growfs
        ..
        ifconfig
        ..
        mdconfig
        ..
    ..
    secure
        lib
        ..
        libexec
        ..
        usr.bin
        ..
        usr.sbin
        ..
    ..
    share
        examples
            tests
                atf
                ..
                plain
                ..
            ..
        ..
    ..
    sys
        acl
        ..
        aio
        ..
        fifo
        ..
        file
        ..
        kern
            execve
            ..
        ..
        kqueue
        ..
        mqueue
        ..
        netinet
        ..
        opencrypto
        ..
        pjdfstest
            chflags
            ..
            chmod
            ..
            chown
            ..
            ftruncate
            ..
            granular
            ..
            link
            ..
            mkdir
            ..
            mkfifo
            ..
            mknod
            ..
            open
            ..
            rename
            ..
            rmdir
            ..
            symlink
            ..
            truncate
            ..
            unlink
            ..
        ..
        posixshm
        ..
        vfs
        ..
        vm
        ..
    ..
    usr.bin
        apply
        ..
        basename
        ..
        bmake
            archives
                fmt_44bsd
                ..
                fmt_44bsd_mod
                ..
                fmt_oldbsd
                ..
            ..
            basic
                t0
                ..
                t1
                ..
                t2
                ..
                t3
                ..
            ..
            execution
                ellipsis
                ..
                empty
                ..
                joberr
                ..
                plus
                ..
            ..
            shell
                builtin
                ..
                meta
                ..
                path
                ..
                path_select
                ..
                replace
                ..
                select
                ..
            ..
            suffixes
                basic
                ..
                src_wild1
                ..
                src_wild2
                ..
            ..
            syntax
                directive-t0
                ..
                enl
                ..
                funny-targets
                ..
                semi
                ..
            ..
            sysmk
                t0
                    2
                        1
                        ..
                    ..
                    mk
                    ..
                ..
                t1
                    2
                        1
                        ..
                    ..
                    mk
                    ..
                ..
                t2
                    2
                        1
                        ..
                    ..
                    mk
                    ..
                ..
            ..
            variables
                modifier_M
                ..
                modifier_t
                ..
                opt_V
                ..
                t0
                ..
            ..
        ..
        calendar
        ..
        cmp
        ..
        cpio
        ..
        col
        ..
        comm
        ..
        cut
        ..
        dirname
        ..
        file2c
        ..
        grep
        ..
        gzip
        ..
        ident
        ..
        join
        ..
        jot
        ..
        lastcomm
        ..
        m4
        ..
        mkimg
        ..
        ncal
        ..
        opensm
        ..
        printf
        ..
        sed
            regress.multitest.out
            ..
        ..
        soelim
        ..
        tar
        ..
        timeout
        ..
        tr
        ..
        truncate
        ..
        units
        ..
        uudecode
        ..
        uuencode
        ..
        xargs
        ..
        xo
        ..
        yacc
            yacc
            ..
        ..
    ..
    usr.sbin
        etcupdate
        ..
        fstyp
        ..
        makefs
        ..
        newsyslog
        ..
        nmtree
        ..
        pw
        ..
        sa
        ..
    ..
..

# vim: set expandtab ts=4 sw=4:
