# $FreeBSD$
#
# Please see the file README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    etc
        rc.d
        ..
    ..
    include
        X11
            ICE
            ..
            PEX5
            ..
            PM
            ..
            SM
            ..
            Xaw
            ..
            Xmu
            ..
            bitmaps
            ..
            extensions
            ..
            fonts
            ..
            pixmaps
            ..
        ..
    ..
    info
    ..
    lib
        X11
            XF86Setup
                pics
                ..
                scripts
                ..
                tcllib
                ..
            ..
            app-defaults
            ..
            config
            ..
            doc
            ..
            etc
            ..
            fonts
                100dpi
                ..
                75dpi
                ..
                PEX
                ..
                Speedo
                ..
                Type1
                ..
                cyrillic
                ..
                local
                ..
                misc
                ..
            ..
            fs
            ..
            lbxproxy
            ..
            locale
                C
                ..
                en_US.utf
                ..
                iso8859-1
                ..
                iso8859-2
                ..
                iso8859-3
                ..
                iso8859-4
                ..
                iso8859-5
                ..
                iso8859-6
                ..
                iso8859-7
                ..
                iso8859-8
                ..
                iso8859-9
                ..
                ja
                ..
                ja.JIS
                ..
                ja.SJIS
                ..
                ko
                ..
                koi8-r
                ..
                tbl_data
                ..
                th_TH.TACTIS
                ..
                zh
                ..
                zh_TW
                ..
                zh_TW.Big5
                ..
            ..
            proxymngr
            ..
            rstart
                commands
                    x11r6
                    ..
                ..
                contexts
                ..
            ..
            twm
            ..
            x11perfcomp
            ..
            xdm
            ..
            xinit
            ..
            xkb
                compat
                ..
                compiled
                ..
                geometry
                    digital
                    ..
                    sgi
                    ..
                ..
                keycodes
                    digital
                    ..
                    sgi
                    ..
                ..
                keymap
                    digital
                    ..
                    sgi
                    ..
                    sun
                    ..
                ..
                rules
                ..
                semantics
                ..
                symbols
                    digital
                    ..
                    fujitsu
                    ..
                    nec
                    ..
                    sony
                    ..
                    sun
                    ..
                ..
            ..
            xserver
            ..
            xsm
            ..
        ..
        aout
        ..
        modules
        ..
    ..
    libdata
    ..
    libexec
    ..
    man
/set uname=man
        cat1
        ..
        cat2
        ..
        cat3
        ..
        cat4
        ..
        cat5
        ..
        cat6
        ..
        cat7
        ..
        cat8
        ..
        cat9
        ..
        catl
        ..
        catn
        ..
        ja              uname=root
            cat1
            ..
            cat2
            ..
            cat3
            ..
            cat4
            ..
            cat5
            ..
            cat6
            ..
            cat7
            ..
            cat8
            ..
            cat9
            ..
            catl
            ..
            catn
            ..
/set uname=root
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        man1
        ..
        man2
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man6
        ..
        man7
        ..
        man8
        ..
        man9
        ..
        manl
        ..
        mann
        ..
    ..
    share
        aclocal
        ..
        doc
            ja
            ..
        ..
        examples
        ..
    ..
..
