# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    include
        atf-c
        ..
        atf-c++
        ..
    ..
    share
        atf
        ..
        doc
            atf
            ..
        ..
    ..
    tests
        bin
            date
            ..
            mv
            ..
            pax
            ..
            sh
                builtins
                ..
                errors
                ..
                execution
                ..
                expansion
                ..
                parameters
                ..
                parser
                ..
                set-e
                ..
            ..
            test
            ..
        ..
        lib
            atf
                libatf-c
                    detail
                    ..
                ..
                libatf-c++
                    detail
                    ..
                ..
                test-programs
                ..
            ..
            libcrypt
            ..
        ..
        libexec
            atf
                atf-check
                ..
            ..
        ..
        sbin
            dhclient
            ..
            growfs
            ..
            mdconfig
            ..
        ..
        share
            examples
                tests
                    atf
                    ..
                    plain
                    ..
                ..
            ..
        ..
        sys
            kern
            ..
        ..
        usr.bin
            apply
            ..
            atf
                atf-sh
                ..
            ..
            calendar
            ..
            comm
            ..
            file2c
            ..
            join
            ..
            jot
            ..
            lastcomm
            ..
            m4
            ..
            ncal
            ..
            printf
            ..
            sed
	    	regress.multitest.out
		..
            ..
            tr
            ..
            uudecode
            ..
            uuencode
            ..
            xargs
            ..
            yacc
            ..
        ..
        usr.sbin
            etcupdate
            ..
            newsyslog
            ..
            sa
            ..
        ..
    ..
..
