# $FreeBSD: src/etc/mtree/BSD.release.dist,v 1.8.36.1.4.1 2010/06/14 02:09:06 kensmith Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    filesys
    ..
    floppies
    ..
    tarballs
        bindist
        ..
        objdist
        ..
        secrdist
        ..
        srcdist
        ..
    ..
..
