# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    arpa
    ..
    cam
        scsi
        ..
    ..
    crypto
    ..
    dev
        an
        ..
        ic
        ..
        iicbus
        ..
        ofw
        ..
        ppbus
        ..
        smbus
        ..
        usb
        ..
        wi
        ..
    ..
    fs
        devfs
        ..
        fdescfs
        ..
        fifofs
        ..
        msdosfs
        ..
        ntfs
        ..
        nullfs
        ..
        nwfs
        ..
        portalfs
        ..
        procfs
        ..
        smbfs
        ..
        umapfs
        ..
        unionfs
        ..
    ..
    g++
        backward
        ..
        bits
        ..
        ext
        ..
    ..
    isc
    ..
    isofs
        cd9660
        ..
    ..
    libmilter
    ..
    machine
        pc
        ..
    ..
    net
    ..
    netatalk
    ..
    netatm
        ipatm
        ..
        sigpvc
        ..
        spans
        ..
        uni
        ..
    ..
    netgraph
    ..
    netinet
    ..
    netinet6
    ..
    netipsec
    ..
    netipx
    ..
    netkey
    ..
    netnatm
    ..
    netncp
    ..
    netns
    ..
    netsmb
    ..
    nfs
    ..
    nfsclient
    ..
    nfsserver
    ..
    objc
    ..
    openssl
    ..
    pccard
    ..
    posix4
    ..
    protocols
    ..
    readline
    ..
    rpc
    ..
    rpcsvc
    ..
    security
        lomac
        ..
        mac_biba
        ..
        mac_bsdextended
        ..
        mac_mls
        ..
    ..
    sys
    ..
    ufs
        ffs
        ..
        ufs
        ..
    ..
    vm
    ..
..
