# $FreeBSD: src/etc/mtree/BSD.release.dist,v 1.8.34.1 2009/04/15 03:14:26 kensmith Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    filesys
    ..
    floppies
    ..
    tarballs
        bindist
        ..
        objdist
        ..
        secrdist
        ..
        srcdist
        ..
    ..
..
