#
# /etc/locate.rc -  command script for updatedb(8)
#
# $Id: locate.rc,v 1.1 1996/08/14 00:22:30 wosch Exp $

#
# All commented values are the defaults
#
# temp directory
#TMPDIR="/tmp"

# the actual database
#FCODES="/var/db/locate.database"

# directories to be put in the database
#SEARCHPATHS="/"

# directories unwanted in output
#PRUNEPATHS="/tmp /usr/tmp /var/tmp"

# filesystems allowed. Beware: a non-listed filesystem will be pruned
# and if the SEARCHPATHS starts in such a filesystem locate will build
# an empty database.
#
# be carefully if you add 'nfs'
#FILESYSTEMS="ufs" 
