*~
nbproject
.idea
doxygen_docs
*/*.out
cmake-build-debug
venv
**.DS_Store
.vscode/tmp
.vscode/c_cpp_properties.json
doc/build
# No top-level requirements, see doc/source
requirements.txt
examples/bazel/bazel-bazel
examples/bazel/bazel-bin
examples/bazel/bazel-out
examples/bazel/bazel-testlogs
**MODULE.bazel.lock
